<!-- Call to action Start -->
<!-- <section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>Webエンジニアのインターン・アルバイト＆Webライター募集中！</h2>
          <p>未経験でもOKです！以下から詳細確認して下さい。</p>
          <a class="btn btn-default btn-call-to-action" href="/jobs" >採用情報はこちらをクリック</a>
        </div>
      </div>
    </div>
  </div>
</section> -->

<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2><span id="Udemyの動画学習でもPythonを勉強しよう！">Udemyの動画学習でもPythonを勉強しよう！</span></h2>
          <p>リアルの勉強会と組み合わせて勉強したいUdemyの動画学習</p>
          <li>平日の夜の勉強会には時間が間に合わなくて参加できない</li>
          <li>通勤時間のわずかな隙間時間を勉強時間にあてたい</li>
          <li>本ではよく分からないところを動画で理解を深めたい</li>
          <br>
          <p>そんなあなたはUdemyの動画学習がお勧めです！</p>
          <a class="btn btn-default btn-call-to-action"
            href="/contents/study/udemy_python/">UdemyのPythonおすすめ33講座レビューリスト</a>
        </div>
      </div>
    </div>
  </div>
</section>