---
layout: page
image: "https://hommachi-open-source-lab.github.io/img/users/web_engineer.JPG"
title: Webエンジニア＆コミュニティマネージャーのアルバイト・インターンの求人募集(プログラミング未経験者もOK！)/本町オープンソースラボ -大阪でのIT勉強会多数開催！大阪本町のエンジニア向けコミュニティスペース-
description: Webエンジニアに興味をやってみたい方、プログラミングの経験は問わないのでご連絡下さい。
permalink: /jobs/web_engineer_parttime_job/
---

<!-- Slider Start -->
<section id="global-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1>Webエンジニア＆コミュニティマネージャーのアルバイト・インターンの求人募集(プログラミング未経験者もOK！)</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- User Section Start -->
<section id="contact-form">
    <div class="container">
        {% include share-bar.html %}

        <p><b>募集概要</b></p>
        <li><a href="#Webエンジニア＆コミュニティマネージャーのアルバイト・インターンの求人募集の仕事内容">仕事内容</a></li>
        <li><a href="#Webエンジニア＆コミュニティマネージャーのアルバイト・インターンの求人募集の応募資格">応募資格</a></li>
        <li><a href="#Webエンジニア＆コミュニティマネージャーのアルバイト・インターンの求人募集の報酬">報酬</a></li>
        <li><a href="#Webエンジニア＆コミュニティマネージャーのアルバイト・インターンの求人募集の条件と雇用形態">条件と雇用形態</a></li>
        <li><a href="#Webエンジニア＆コミュニティマネージャーのアルバイト・インターンの求人募集の勤務地">勤務地</a></li>
        <li><a href="#Webエンジニア＆コミュニティマネージャーのアルバイト・インターンの求人募集の応募フォーム">応募フォーム</a></li>
        <br>
        <h2><span id="Webエンジニア＆コミュニティマネージャーのアルバイト・インターンの求人募集の仕事内容">仕事内容</span></h2>
        <p>本町オープンソースラボに関わる企業のHTMLコーディングや、プログラミングを行っていただきます。
        簡単なHTMLコーディングから、PythonやPHPなどのプログラミングまで幅広くお願いしていきたいですが、スキルに合わせてお仕事をお任せしていきますのでプログラミングは未経験で大丈夫です！
        最初は事務所で作業していただきますが、慣れて来たら一部リモートでもOKです。</p>
        
        <p>また、本町オープンソースラボでは様々なITイベントが開催されており、
        そのコミュニティの交流を促進するコミュニティマネージャーも兼務をお願いしたいです。
        IT勉強会のコミュニティに繋がりがたくさんできるので、プログラミングの学習にも最適です。</p>

        <h2><span id="Webエンジニア＆コミュニティマネージャーのアルバイト・インターンの求人募集の応募資格">応募資格</span></h2>
        <h3><必須></h3>
        <li>html,cssの基本を理解していること</li>
        <li>月1回程度、本町オープンソースラボ（大阪市）で打ち合わせできる事</li>
        <br>
        <h3><大歓迎></h3>
        <li>javascript,Google app script,Python,phpなどのプログラミング経験</li>
        <li>wordpressの運用経験</li>
        <li>本町オープンソースラボのコミュニティマネージャーを兼務して頂ける方</li>

        <h2><span id="Webエンジニア＆コミュニティマネージャーのアルバイト・インターンの求人募集の報酬">報酬</span></h2>
        <li>時間単価 1,000円〜（経験やスキルによって考慮）</li>
        <br>
        <h2><span id="Webエンジニア＆コミュニティマネージャーのアルバイト・インターンの求人募集の条件と雇用形態">条件と雇用形態</span></h2>
        <li>ご応募頂いて面談時にご相談</li>
        <br>
        <h2><span id="Webエンジニア＆コミュニティマネージャーのアルバイト・インターンの求人募集の勤務地">勤務地</span></h2>
        <p>大阪市中央区瓦町3-4-9 ステーツ本町ビル801</p>
        <p>株式会社ソウ</p>
        <br>
        <h2><span id="Webエンジニア＆コミュニティマネージャーのアルバイト・インターンの求人募集の応募フォーム">応募フォーム</span></h2>
        <p><a
                href="https://docs.google.com/forms/d/e/1FAIpQLSfwOenufOClAKTiyTS_vC0d0EKykJ7x4GxQPKmwnbf2dmWdNw/viewform">フォームが上手く送信できない場合はこちらをクリックして送信下さい。</a>
        </p>
        <iframe
            src="https://docs.google.com/forms/d/e/1FAIpQLSfwOenufOClAKTiyTS_vC0d0EKykJ7x4GxQPKmwnbf2dmWdNw/viewform?embedded=true"
            width="640" height="1631" frameborder="0" marginheight="0" marginwidth="0">読み込んでいます...</iframe>
        {% include share-bar.html %}
    </div>
</section>