---
layout: page
image: "https://hommachi-open-source-lab.github.io/img/users/web_engineer.JPG"
title: Webエンジニア＆コミュニティマネージャーのアルバイト・インターンの求人募集(プログラミング未経験者もOK！)/本町オープンソースラボ -大阪でのIT勉強会多数開催！大阪本町のエンジニア向けコミュニティスペース-
description: Webエンジニアに興味をやってみたい方、プログラミングの経験は問わないのでご連絡下さい。
permalink: /jobs/web_engineer_parttime_job/
---

<!-- Slider Start -->
<section id="global-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1>Webエンジニア＆コミュニティマネージャーのアルバイト・インターンの求人募集(プログラミング未経験者もOK！)</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- User Section Start -->
<section id="contact-form">
    <div class="container">
        {% include share-bar.html %}

        <p><b>募集概要</b></p>
        <li><a href="#Webエンジニア＆コミュニティマネージャーのアルバイト・インターンの求人募集の仕事内容">仕事内容</a></li>
        <li><a href="#Webエンジニア＆コミュニティマネージャーのアルバイト・インターンの求人募集の応募資格">応募資格</a></li>
        <li><a href="#Webエンジニア＆コミュニティマネージャーのアルバイト・インターンの求人募集の報酬">報酬</a></li>
        <li><a href="#Webエンジニア＆コミュニティマネージャーのアルバイト・インターンの求人募集の条件と雇用形態">条件と雇用形態</a></li>
        <li><a href="#Webエンジニア＆コミュニティマネージャーのアルバイト・インターンの求人募集の勤務地">勤務地</a></li>
        <li><a href="#Webエンジニア＆コミュニティマネージャーのアルバイト・インターンの求人募集の応募フォーム">応募フォーム</a></li>
        <br>
        <h2><span id="Webエンジニア＆コミュニティマネージャーのアルバイト・インターンの求人募集の仕事内容">仕事内容</span></h2>
        <p>本町オープンソースラボに関わる企業のHTMLコーディングや、プログラミングを行っていただきます。
        簡単なHTMLコーディングから、PythonやPHPなどのプログラミングまで幅広くお願いしていきたいですが、スキルに合わせてお仕事をお任せしていきますのでプログラミングは未経験で大丈夫です！
        最初は事務所で作業していただきますが、慣れて来たら一部リモートでもOKです。</p>
        
        <p>また、本町オープンソースラボでは様々なITイベントが開催されており、
        そのコミュニティの交流を促進するコミュニティマネージャーも兼務をお願いしたいです。
        IT勉強会のコミュニティに繋がりがたくさんできるので、プログラミングの学習にも最適です。</p>

        <h2><span id="Webエンジニア＆コミュニティマネージャーのアルバイト・インターンの求人募集の応募資格">応募資格</span></h2>
        <h3><必須></h3>
        <li>html,cssの基本を理解していること</li>
        <li>月1回程度、本町オープンソースラボ（大阪市）で打ち合わせできる事</li>
        <br>
        <h3><大歓迎></h3>
        <li>javascript,Google app script,Python,phpなどのプログラミング経験</li>
        <li>wordpressの運用経験</li>
        <li>本町オープンソースラボのコミュニティマネージャーを兼務して頂ける方</li>

        <h2><span id="Webエンジニア＆コミュニティマネージャーのアルバイト・インターンの求人募集の報酬">報酬</span></h2>
        <li>時間単価 1,000円〜（経験やスキルによって考慮）</li>
        <br>
        <h2><span id="Webエンジニア＆コミュニティマネージャーのアルバイト・インターンの求人募集の条件と雇用形態">条件と雇用形態</span></h2>
        <li>ご応募頂いて面談時にご相談</li>
        <br>
        <h2><span id="Webエンジニア＆コミュニティマネージャーのアルバイト・インターンの求人募集の勤務地">勤務地</span></h2>
        <p>大阪市中央区瓦町3-4-9 ステーツ本町ビル801</p>
        <p>株式会社ソウ</p>
        <br>
        <h2><span id="Webエンジニア＆コミュニティマネージャーのアルバイト・インターンの求人募集の応募フォーム">応募フォーム</span></h2>
        <p>
            <font color="red">*</font>印は必須項目です。
        </p>
        <!-- Google formの処理 -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>
                    <center>本町オープンソースラボ 求人応募フォーム</center>
                </h3>
            </div>
            <div class="panel-body">
                <script type="text/javascript">var submitted = false;
                </script>
                <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;"
                    onload="if(submitted){window.location='/jobs/thanks_web_engineer_parttime_job/';}">
                </iframe>
                <!-- フォームアクションの追加　formResponseで検索 -->
                <form
                    action="https://docs.google.com/forms/d/e/1FAIpQLSfwOenufOClAKTiyTS_vC0d0EKykJ7x4GxQPKmwnbf2dmWdNw/formResponse"
                    method="POST" id="ss-form" class="form-horizontal" target="hidden_iframe" onsubmit="submitted=true">
                    <!-- メールアドレス -->
                    <div class="form-group">
                        <h4>
                            <label for="email" class="control-label col-sm-4">
                                <font color="red">*</font>メールアドレス
                            </label>
                        </h4>
                        <div class="col-sm-8">
                            <input id="email" type="text" name="emailAddress" class="form-control"
                                placeholder="example@mail.co.jp" required>
                        </div>
                    </div>
                    <!-- 応募職種 -->
                    <div class="form-group">
                        <h4>
                            <label for="os" class="control-label col-sm-4">
                                <font color="red">*</font>
                                応募職種
                            </label>
                        </h4>
                        <div class="col-sm-8">
                            <div class="form-check">
                                <input class="form-check-input" id="jobtype" type="radio" name="entry.29432420" value="Webエンジニア＆コミュニティマネージャーのアルバイト・インターン" required>
                                <label class="form-check-label" for="jobtype">
                                    Webエンジニア＆コミュニティマネージャーのアルバイト・インターン
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" id="jobtype" type="radio" name="entry.29432420" value="Webライター">
                                <label class="form-check-label" for="jobtype">
                                    Webライター
                                </label>
                            </div>
                        </div>
                    </div>
                    <!-- 氏名 -->
                    　<div class="form-group">
                        <h4>
                            <label for="shimei" class="control-label col-sm-4">
                                <font color="red">*</font>氏名
                            </label>
                        </h4>
                        <div class="col-sm-8">
                            <input class="form-control" id="shimei" type="text" name="entry.947407916" placeholder="名前を記載ください。"
                                required>
                        </div>
                    </div>
                    <!-- 電話番号 -->
                    　<div class="form-group">
                        <h4>
                            <label for="shimei" class="control-label col-sm-4">
                                <font color="red">*</font>電話番号
                            </label>
                        </h4>
                        <div class="col-sm-8">
                            <input class="form-control" id="tel" type="text" name="entry.1632766320" placeholder="電話番号を記載下さい。" required>
                        </div>
                    </div>
                    <!-- 実績と自己PR -->
                    <div class="form-group">
                        <h4>
                            <label for="other" class="control-label col-sm-4">
                                <font color="red">*</font>実績と自己PR
                            </label>
                        </h4>
                        <div class="col-sm-8">
                            <textarea class="form-control" id="other" rows="7" name="entry.192066247" placeholder="過去の実績がわかるURLや作品と自己PRを記入ください。"></textarea>
                        </div>
                    </div>
                    <!-- 居住エリア -->
                    <div class="form-group">
                        <h4>
                            <label for="area" class="control-label col-sm-4">
                                <font color="red">*</font>居住エリア
                            </label>
                        </h4>
                        <div class="col-sm-8">
                            <input class="form-control" id="tel" type="text" name="entry.297112220" placeholder="記入例：大阪市中央区" required>
                        </div>
                    </div>
                    <!-- 備考 -->
                    <div class="form-group">
                        <h4>
                            <label for="other" class="control-label col-sm-4">
                                備考
                            </label>
                        </h4>
                        <div class="col-sm-8">
                            <textarea class="form-control" id="other" rows="7" name="entry.1755596702" placeholder="何か追加でお伝えされたいことや、質問があればこちらに記載ください。"></textarea>
                        </div>
                    </div>
                    <!-- 送信ボタン -->
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-8">
                            <button type="submit" name="button" value="送信" class="btn btn-primary btn-lg">
                                送信
                            </button>
                        </div>
                    </div>
                    　
                </form>
            </div>
        </div>
        <!-- Google formの処理ここまで -->

        {% include share-bar.html %}
    </div>
</section>

<!-- Google for jobs -->
<script type="application/ld+json">{
	"@context" : "http://schema.org",
	"@type" : "JobPosting",
	"title" : "Webエンジニア＆コミュニティマネージャーのアルバイト・インターン",
	"description" : "
<h1>Webエンジニア＆コミュニティマネージャーのアルバイト・インターン募集(プログラミング未経験者もOK！)</h1>
<br>
<h2>■仕事内容</h2>
<br>
本町オープンソースラボに関わる企業のHTMLコーディングや、プログラミングを行っていただきます。
簡単なHTMLコーディングから、PythonやPHPなどのプログラミングまで幅広くお願いしていきたいですが、スキルに合わせてお仕事をお任せしていきますので、プログラミングは未経験で大丈夫です！
最初は事務所で作業していただきますが、慣れて来たら一部リモートでもOKです。
<br>
また、本町オープンソースラボでは様々なITイベントが開催されており、
そのコミュニティの交流を促進するコミュニティマネージャーも兼務をお願いしたいです。
IT勉強会のコミュニティに繋がりがたくさんできるので、プログラミングの学習にも最適です。
<br>
<h2>■応募資格</h2>
<br>
【必須】
・html,cssの基本を理解していること
・月1回程度、本町オープンソースラボ（大阪市）で打ち合わせできる事
<br>
【大歓迎】
・javascript,Google app script,Python,phpなどのプログラミング経験
・wordpressの運用経験
・本町オープンソースラボのコミュニティマネージャーを兼務して頂ける方
<br>
<h2>■報酬</h2>
<br>
・時間単価 1,000円〜（経験やスキルによって考慮）
<br>
<h2>■条件や雇用形態</h2>
<br>
・ご応募頂いて面談時にご相談
<br>
<h2>■勤務地</h2>
<br>
大阪市中央区瓦町3-4-9 ステーツ本町ビル801
株式会社ソウ",
	"datePosted" : "2019-06-01",
	"validThrough" : "2020-05-31",
	"baseSalary" : {
		"@type" : "MonetaryAmount",
		"currency" : "JPY",
		"value" : {
			"@type" : "QuantitativeValue",
			"value": 0,
			"minValue" : "1000",
			"unitText" : "HOUR"
		}
	},
	"employmentType" : ["INTERN","PART_TIME"],
	"hiringOrganization" : {
		"@type" : "Organization",
		"name" : "株式会社ソウ",
		"sameAs" : "https://sou-co.jp/",
		"logo" : ""
	},
	"jobLocation" : {
		"@type" : "place",
		"address" : {
			"@type" : "PostalAddress",
			"streetAddress" : "瓦町3-4-9",
			"addressLocality" : "大阪市中央区",
			"addressRegion" : "大阪府",
			"postalCode" : "541-0048",
			"addressCountry" : "JP"
		}
	},
	"identifier" : {
		"@type" : "PropertyValue",
		"propertyID" : "web_engineer_parttime_job",
		"value" : "1"
	}
};</script>