---
layout: page
image: "https://hommachi-open-source-lab.github.io/img/users/writer.JPG"
title: Webライターの求人募集(ライター未経験者もOK！)/本町オープンソースラボ -大阪でのIT勉強会多数開催！大阪本町のエンジニア向けコミュニティスペース-
description: WebライターでITジャンルに興味がある方、ご連絡お待ちしています
permalink: /jobs/web_writer_job/
---

<!-- Slider Start -->
<section id="global-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1>Webライターの求人募集(ライター未経験者もOK！)</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- User Section Start -->
<section id="contact-form">
    <div class="container">
        {% include share-bar.html %}

        <p><b>募集概要</b></p>
        <li><a href="#Webライターの求人募集(ライター未経験者もOK！)の仕事内容">仕事内容</a></li>
        <li><a href="#Webライターの求人募集(ライター未経験者もOK！)の応募資格">応募資格</a></li>
        <li><a href="#Webライターの求人募集(ライター未経験者もOK！)の報酬">報酬</a></li>
        <li><a href="#Webライターの求人募集(ライター未経験者もOK！)の条件と雇用形態">条件と雇用形態</a></li>
        <li><a href="#Webライターの求人募集(ライター未経験者もOK！)の勤務地">勤務地</a></li>
        <li><a href="#Webライターの求人募集(ライター未経験者もOK！)の応募フォーム">応募フォーム</a></li>
        <br>
        <h2><span id="Webライターの求人募集(ライター未経験者もOK！)の仕事内容">仕事内容</span></h2>
        <p>ディレクターが準備したタイトルと見出しを元に、各見出し内の本文（150文字〜500文字程度）をWebをリサーチしながら書いて頂く仕事です。
        ライター未経験でも執筆するテーマに詳しければ問題ありません。</p>
        
        <p>作業は基本在宅（リモート）でOKですが、テーマに関してのすり合わせを対面で行いたいので、
        月1回程度の対面打ち合わせができる方を募集します。</p>

        <p>現在募集している執筆テーマはIT全般になります。</p>
        <li>Webエンジニア、プログラミング全般</li>
        <li>通信（光回線、Wifi、sim等）全般</li>

        <h2><span id="Webライターの求人募集(ライター未経験者もOK！)の応募資格">応募資格</span></h2>
        <h3>
            <必須>
        </h3>
        <li>月1回程度、本町オープンソースラボ（大阪市）で打ち合わせできる事</li>
        <br>
        <h3>
            <大歓迎>
        </h3>
        <li>SEOの基礎知識</li>
        <li>執筆テーマの知識や経験</li>

        <h2><span id="Webライターの求人募集(ライター未経験者もOK！)の報酬">報酬</span></h2>
        <li>文字単価 0.8円〜3円（経験やスキルによって考慮）</li>
        <br>
        <h2><span id="Webライターの求人募集(ライター未経験者もOK！)の条件と雇用形態">条件と雇用形態</span></h2>
        <li>ご応募頂いて面談時にご相談</li>
        <br>
        <h2><span id="Webライターの求人募集(ライター未経験者もOK！)の勤務地">勤務地</span></h2>
        <p>大阪市中央区瓦町3-4-9 ステーツ本町ビル801</p>
        <p>株式会社ソウ</p>
        <br>
        <h2><span id="Webライターの求人募集(ライター未経験者もOK！)の応募フォーム">応募フォーム</span></h2>
        <p><a
                href="https://docs.google.com/forms/d/e/1FAIpQLSfwOenufOClAKTiyTS_vC0d0EKykJ7x4GxQPKmwnbf2dmWdNw/viewform">フォームが上手く送信できない場合はこちらをクリックして送信下さい。</a>
        </p>
        <iframe
            src="https://docs.google.com/forms/d/e/1FAIpQLSfwOenufOClAKTiyTS_vC0d0EKykJ7x4GxQPKmwnbf2dmWdNw/viewform?embedded=true"
            width="640" height="1631" frameborder="0" marginheight="0" marginwidth="0">読み込んでいます...</iframe>
        {% include share-bar.html %}
    </div>
</section>