---
layout: page
image: "https://hommachi-open-source-lab.github.io/img/blog/20190127_3.JPG"
title: 【2019年開催】大阪開催！Python入門セミナーのレポート/本町オープンソースラボ -大阪でのIT勉強会多数開催！大阪本町のエンジニア向けコミュニティ-
description: 2019年大阪開催！Python入門セミナーの開催レポートになります。参加を検討している人はぜひ見てください。
permalink: /contents/study/2019_report_python_seminar_for_beginners/
---

<!-- Slider Start -->
<section id="global-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1>【2019年開催】大阪開催！Python入門セミナーのレポート</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- User Section Start -->
<section id="contact-form">
    <div class="container">
        {% include share-bar.html %}
        <br>
        <p>こちらでは2019年に開催したPython入門セミナーのレポートを掲載しています。</p>
        <br>
        <p><b>目次</b></p>
        <li><a href="#2019年1月27日の大阪開催！Python入門セミナーレポート">2019年1月27日の大阪開催！Python入門セミナーレポート</a></li>
        <li><a href="#2019年4月14日の大阪開催！Python入門セミナーレポート">2019年4月14日の大阪開催！Python入門セミナーレポート</a></li>
        <li><a href="#2019年6月2日の大阪開催！Python入門セミナーレポート">2019年6月2日の大阪開催！Python入門セミナーレポート</a></li>
        <li><a href="#次回の「Python入門セミナー」の案内ページはこちら">次回の「Python入門セミナー」の案内ページはこちら</a></li>
        <li><a href="#Pythonインストールと環境構築セミナーの申し込みフォーム">Pythonインストールと環境構築セミナーの申し込みフォーム</a></li>
        <li><a href="#Udemyの動画学習でもPythonを勉強しよう！">Udemyの動画学習でもPythonを勉強しよう！</a></li>
        <br>
        <h2><span id="2019年1月27日の大阪開催！Python入門セミナーレポート">2019年1月27日の大阪開催！Python入門セミナーレポート</span></h2>
        <br>
        <img src="{{ site.baseurl }}/img/blog/20190127_3.JPG" class="img-responsive" alt="2019年1月27日大阪開催！Python入門セミナー">
        <br>
        <h3>開催概要</h3>
        <p>2019年1月27日、前日がめちゃくちゃ寒かったのですが、27日もかなり冷え込みました。体調が悪くなくてもキャンセルする人が出ないか若干心配でした。</p>
        <p>インフルエンザが大流行で、講師の飯坂さんがインフルエンザで倒れ、参加者の方も1人体調不良で欠席。参加者5名の講師2名体制で開催されました。今回運営側も第1回目の取り組みで、手探りで始めた形になりますが、様々な業種の方が勉強にきていただけて良かったです。
        </p>
        <h3>Python入門セミナーの開催に至った経緯</h3>
        <p>Python入門セミナーを始めるきっかけを少し書かせていただきます。大阪Pythonの会というコミュニティで月1くらいで勉強会を開催しているのですが、内容的に中級者以上で初心者の方が勉強会に参加されてもよく分からない状態で帰られてしまうのを何度が目にして、初心者向けの会が必要と考えるようになりました。
        </p>
        <p>2018年11月頃から「大阪Pythonもくもく会」というもう少し気軽に質問できる初心者歓迎の勉強会を週1回程度開催し始めました。こちらの会には初心者の方も作業を進めながら質問をできる環境ができたのですが、環境構築でずっと詰まっている人が結構多く、また体系的に勉強できるコンテンツが必要な方が結構いらっしゃいました。
        </p>
        <p>もちろん世の中にはPython初心者向けのコンテンツや勉強会はあるのですが、せっかく大阪Ptyohonの会というコミュニティに参加された方に、それぞれの段階で必要なコンテンツを提供できればいいなと思い、Python入門セミナーを開催するに至りました。
        </p>
        <h3>運営側の課題</h3>
        <p>企画当初より、1日セミナーをする上で環境構築で詰まってしまう人が出るとセミナーの進行に影響があるので、環境構築インストールDayを別途開催してその上でPython入門セミナーに参加してもらうようにするとスムーズではないかと話をしていました。
        </p>
        <p>実際に環境構築インストールDayを複数回に分けて開催したのですが、日程の都合もあるのですが環境構築インストールDayに参加してからPython入門セミナーの流れで参加できた方はお1人でした。</p>
        <p>そのため、こちらでイメージしていた環境になっていない方も居たため、この点は次回の課題として改善していきたいです。</p>
        <h3>Python入門セミナー参加者の声</h3>
        <div class="panel panel-default">
            <div class="panel-body">
                <p>話しやすい雰囲気を作っていただいたところと、実際に使っていくにあたっての細かな問題点や、プログラミングをするにあたっての細かな注意事項（本には載っていないこと）などを教えてもらえたのがよかった。また、少人数のため、すぐに疑問を聞けるところも大変良かったです。ありがとうございました。演習はとてもよかったです。もう少し増やしてもよいかと思いました。（40代　医療業界）
                </p>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <p>今まで書籍での独学で学んでいたので実践されているエンジニアの方が基礎から教えていただいた事。不満はありませんが、一回では頭に入らないので繰り返しが必要だと実感しました。（50代　アパレル業界）
                </p>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <p>講師や主催者の受講者への配慮が行き届いていて、受講者の疑問を丁寧に平易な言葉で説明されたこと。テキスト記載の例が実務に使われていると思われるものでよかったです。実務での具体的適用例が更にあると良かったと感じています。（50代　自動車業界）
                </p>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <p>講師の方に質問しやすい雰囲気と受講者のレベルも同じくらいだった事が良かったと思います。（30代　IT業界）
                </p>
            </div>
        </div>
        <h2><span id="2019年4月14日の大阪開催！Python入門セミナーレポート">2019年4月14日の大阪開催！Python入門セミナーレポート</span></h2>
        <br>
        <img src="{{ site.baseurl }}/img/blog/20190414.JPG" class="img-responsive" alt="2019年4月14日大阪開催！Python入門セミナー">
        <br>
        <h3>開催概要</h3>
        <p>2019年4月14日、気候は春になり暖かくなってきましたが、当日はあいにくの雨でした。</p>
        <p>参加者の方が1人体調不良で欠席、お仕事のご都合で2名欠席で参加者7名の講師2名、アシスタント講師1人の3人体制で開催いたしました。
        </p>
        <h3>今回の改善点</h3>
        <p>前回のフィードバックで実際に演習問題で手を動かすと頭に入って来やすいということで、演習問題に時間を割くようにし、エラーを出してたくさん質問してもらうように工夫しました。</p>
        <p>また書籍では網羅的に書かれている文法部分を、<b>実践に即してどういうケースで使うのか？</b>というのと、<b>よく使うかどうかを伝えることで学習の優先順位をお伝えする</b>ようにしました。</p>
        <p></p>
        <h3>運営側の課題</h3>
        <p>プログラミング初心者の方とプログラミング経験者でPython初心者の方が混在していたので、ベースとなる知識にばらつきがありました。</p>
        <p>このセミナーではVScodeを使って進めるのですが、テキストエディタとターミナルの関係やインタラクティブシェルの違いをしっかりお伝えしていなかった為に混乱してしまった方がいらっしゃいました。最初にプログラムの実行環境について概念をお伝えするように次回改善していきます。
        </p>
        <p>後半のクラスの説明やスクレイピング部分が難しいと感じている方がいらっしゃったので、内容の精査をして必要以上盛り込まないようにしつつ、わかりやすく伝える工夫を考えて参ります。</p>
        </p>
        <h3>Python入門セミナー参加者の声</h3>
        <div class="panel panel-default">
            <div class="panel-body">
                <p>受講人数に対して講師が3名ということでフォロー体制が整っていた。受講時間に対して内容が多いため一つあたりにかける時間が少なく、もう少しかみ砕いた説明が欲しかった。また、最後のほうの説明は駆け足な状況だったのでクラスの説明などがほぼ文章を読んだだけだったのが残念でした。
                    （30代 IT業）
                </p>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <p>質問のしやすい雰囲気と質問時の即対応がとても嬉しかったです。（40代 製造業）
                </p>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <p>質問しやすいことが良かった。後半の内容は初心者としては理解しにくい。（40代 電気設計）
                </p>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <p>疑問点をその場で聞きやすく、またすぐに答えが返ってくる点。納得のできる回答をもらえ、理解の助けになった。 (30代 製造業（電機）)
                </p>
            </div>
        </div>
        <h2><span id="2019年6月2日の大阪開催！Python入門セミナーレポート">2019年6月2日の大阪開催！Python入門セミナーレポート</span></h2>
        <br>
        <img src="{{ site.baseurl }}/img/blog/20190602.JPG" class="img-responsive" alt="2019年6月2日大阪開催！Python入門セミナー">
        <br>
        <h3>開催概要</h3>
        <p>2019年6月2日、ずいぶんと気温が高くなってきて夏のような日となりました。</p>
        <p>当日のキャンセルが1人で、参加者11名の講師2名、アシスタント講師1名の3人体制で開催いたしました。</p>
        <h3>今回の改善点</h3>
        <p>今回の改善というよりは参加人数が増えてきた事によって出てきた課題として、モニターのサイズの改善とレイアウトの変更を行いました。50インチのモニターを見ていただいていたのですが、コードを見るには小さく見にくい方がいらっしゃったので、100インチのモニターと50インチのモニターを併用してスライドの見やすさの改善を行いました。
        </p>
        <p>また、前回のレイアウトだと6名以上になった時に1テーブルに2人座るレイアウトとなるため、スクール形式に変更して1人1テーブルにレイアウト変更を行い、パーソナルスペースの確保を行いました。</p>
        <p>講座内容に関しては<b>演習の時間が良かったという声を頂いていたので、自分の頭で考えて、実際手を動かして、わからないところを講師に聞ける演習の時間を長く取りました。</b>座学で聞いているだけの時間だとどうしても理解を深めにくいので、実際に自分でコードを書く過程とその時ぶつかるエラーを潰す事に時間を割きました。
        </p>
        <h3>運営側の課題</h3>
        <p>スクレイピングのコードを実際実行してもらった時に、コードがどう実行されているのかわからないという質問をいくつか貰いました。この質問の直接的な意図はコードがどう動いているのか知りたいなのですが、コードの途中の変数の中身や型がなにかを把握するためのデバック方法を伝える必要がありました。個別ではお伝えしたのですが、次回以降は資料に追加していきます。
        </p>
        <br>
        <h3>Python入門セミナー参加者の声</h3>
        <div class="panel panel-default">
            <div class="panel-body">
                <p>運営の方々がとても親切で、質問がしやすいと感じました。希望を言えば、今回の次のステップのセミナーもあればありがたいと思います。
                    （30代 Web業界）
                </p>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <p>質問にすぐに対応していただいたことが良かった。理解するために時間が必要だったため、私には進みが、はやすぎました。（40代 臨床関係）
                </p>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <p>受講生数に対して、サポート人数が適当だったと思う。今後、Deeplearningを取り扱ったセミナー等も受けたいので種類を増やしてほしい（30代 法務）
                </p>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <p>わからないところが、その都度聞けたことが良かった。 (40代 医療系)
                </p>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <p>やろうという気持ちが芽生えた。演習の答えを自宅でも練習できるように、紙もしくはデータとして渡してほしい。（40代 医療教育系）
                </p>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <p>10人程度の生徒に講師が3名ということで、これ以上はない丁寧な対応だと感じました。講師は忙しい方ばかりだと思いますが初心者相手に親切な対応をしていただきありがとうございました。参加費と内容や時間を考えると不満など考えられない。これからpythonを始めるに当たり最高のプレゼントを頂いた。ありがとうございました。（50代
                    鉄道会社の研究部門）
                </p>
            </div>
        </div>
        <h2><span id="次回の「Python入門セミナー」の案内ページはこちら"></span>次回の「Python入門セミナー」の案内ページはこちら</h2>
        <p>興味を持っていただいた方は、こちらで開催日程をご確認ください。一緒に勉強できるのをお待ちしております！</p>
        <h3>→ <a href="/contents/study/python_seminar_for_beginners/">大阪開催！Python入門セミナー</a></h3>
        <br>
        <h2><span id="Pythonインストールと環境構築セミナーの申し込みフォーム"></span>環境構築インストールDayに参加したい方はこちら</h2>
        <p>環境構築できるまでサポートしますので、環境を必ず持って帰っていただくセミナーです。</p>
        <h3>→ <a href="/contents/study/buld_python_env/">Python環境構築セミナー</a></h3>
        <br>
        {% include link-udemy_python.html %}
        <br>
        {% include share-bar.html %}
    </div>
</section>