---
layout: page
image: "https://hommachi-open-source-lab.github.io/img/blog/20190127_3.JPG"
title: Python言語縛りの2monthsハッカソン/本町オープンソースラボ -大阪でのIT勉強会多数開催！大阪本町のエンジニア向けコミュニティスペース-
description: この企画はチーム開発というゆるやかな強制力を使いながら、自分を追い込んでいく2ヶ月間にわたるPython言語縛りのハッカソンです。
permalink: /contents/study/2months_python_hackathon/
---

<!-- Slider Start -->
<section id="global-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1>Python言語縛りの2monthsハッカソン</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- User Section Start -->
<section id="contact-form">
    <div class="container">
        {% include share-bar.html %}
        <br>
        <p>この企画はチーム開発というゆるやかな強制力を使いながら、自分を追い込んでいく2ヶ月間にわたるハッカソンです。</p>
        <p>特徴としては以下2点です。</p>
        <li>Pythonの言語縛り</li>
        <li>2ヶ月間に渡るロングスパン</li>
        <br>
        <p>いわゆる通常のハッカソンでは自分が学習中、もしくは得意な言語で開発できない事があります。2日間ストレスを感じながら開発をしたこともあるのでは無いでしょうか？もちろん受賞を目的としているハッカソンだと技術ができる人を中心にチームを組み立てていくのでそれでいいと思います。</p>
        <p>しかし、学習という観点で行くと中途半端に新しい言語の知識が入ってきて混乱してしまいます。<b>これからPythonを学ぶと決めたなら、できるだけPythonでの開発に時間を使うべきです。</b></p> 
        <p>学習を深めることができるという点で、言語をPythonに絞ってます。</p>
        <br>
        <p>また2ヶ月という期間を持ち、普段の生活の中でチームとしてコミュニケーションを取りながら開発していくことで、<b>今まで一人だと出来なかった事を少しでも前に進める原動力にしたい</b>と考えてます。</p>
        <p>このハッカソンの注意点は運営側はファシリテーションはしますが、技術的なサポートを丁寧にすることは無いということです。</p><p>運営側でもメンターは募集していきますが、あくまでも有志運営なので、
        <b>わからない事はすべて誰かに教えて貰おうというスタンスの人は参加をお断りいたします。</b>手とり足取り教えて欲しいという人はプログラミングスクールを検討した方が良いでしょう。</p>
        <br>
        <p>
            <font size="5" color="red">自分ひとりだと刺激が足りないので、チームという環境を手に入れて開発を進めたい、Pythonのスキルアップしたい人にぴったりの企画です。</font>
        </p>
        <br>
        <img src="{{ site.baseurl }}/img/users/hackathon.JPG" alt="Python言語縛りの2monthsハッカソン" class="img-responsive">
        <br>
        <p>※写真はチーム開発のイメージです。エディター開いてないですけど..</p>
        <p><b>目次</b></p>
        <li><a href="#Python言語縛りの2monthsハッカソンの概要">Python言語縛りの2monthsハッカソンの概要</a></li>
        <li><a href="#Python言語縛りの2monthsハッカソンの対象者と非対象者">Python言語縛りの2monthsハッカソンの対象者と非対象者</a></li>
        <li><a href="#Python言語縛りの2monthsハッカソンの内容">Python言語縛りの2monthsハッカソンの内容</a></li>
        <li><a href="#Python言語縛りの2monthsハッカソンの申し込みフォーム">Python言語縛りの2monthsハッカソンの申し込みフォーム</a></li>
        <li><a href="#Udemyの動画学習でもPythonを勉強しよう！">Udemyの動画学習でもPythonを勉強しよう！</a></li>
        <br>
        <h2><span id="Python言語縛りの2monthsハッカソンの概要">Python言語縛りの2monthsハッカソンの概要</span></h2>
        <p>以下に該当する方で、Python言語縛りで2ヶ月間のハッカソンを開催します。</p>
        <li>自分でサービスやアプリを作りたいと思っているが、なかなか一人では進められない。</li>
        <li>自分の勉強している言語でチーム開発をしてスキルを上げたい。</li>
        <br>
        <p>よくある週末2日間のハッカソンで受賞を目的としたものではなく、Pythonの学習を深め、自分の開発したいものを進める原動力を得ることを目的としています。一緒に学習する仲間作りと、自分でプロダクトを作るきっかけ作りが最大の目的です。
        </p>
        <br>
        <h2><span id="Python言語縛りの2monthsハッカソンの対象者と非対象者">Python言語縛りの2monthsハッカソンの対象者と非対象者</span></h2>
        <br>
        <h3>対象者</h3>
        <li>いつか自分のサービスを作りたいと思いながら、実現できていない人</li>
        <li>Pythonでチーム開発をしてスキルを上げたい人</li>
        <li>Pythonで一緒に切磋琢磨できる仲間が欲しい人</li>
        <br>
        <h3>非対象者</h3>
        <li>自分のわからない点が技術をわかっている人にすべて教えてもらえると思っている人</li>
        <li>Python3の環境構築が当日までにできていない方</li>
        <li>アイデアを出すだけでコードを書くつもりが無い人</li>
        <li>Python3の環境構築が当日までにできていない方</li>
        <p>※Pythonの環境構築がご自身でできない場合は、まずは環境構築セミナーへご参加下さい。</p>
        <h4>→ <a href="/contents/study/buld_python_env/">【環境構築できるまでサポート！】Pythonインストールと環境構築セミナー（mac/windows）</a></h4>
        <br>
        <h2><span id="Python言語縛りの2monthsハッカソンの内容">Python言語縛りの2monthsハッカソンの内容</span></h2>
        <br>
        <h3>日程</h3>
        <div class="panel panel-default">
            <div class="panel-heading">イベント日程</div>
            <div class="panel-body">
                <li>4/28（日） 10:00-12:00（アイデア作りとチームビルディング）</li>
                <li>5/26（日） 10:00-12:00（途中経過発表）</li>
                <li>6/23（日） 10:00-12:00（最終発表）</li>
            </div>
        </div>
        <h3>会場</h3>
        <p>本町オープンソースラボ</p>
        <p>住所：大阪市中央区瓦町3-4-9 801（株式会社ソウ内）</p>
        <h3>内容</h3>
        <p>3回のイベントを行い、その間の2ヶ月間はチームで連絡を取りながらチーム開発を進めます。Python言語縛りとうたっていますが、ベースとなる言語はPythonという意味で、htmlやjsを使ってはいけないという意味ではないです。</p>
        <p>アイデアは持ってきてもらっても、誰かのアイデアに乗っかるのでもOKです。</p>
        <p><b>イベント開催期間の2ヶ月間は、開発場所として本町オープンソースラボを使っていただけます。</b></p>
        <p>※最小開催人数 3名</p>
        <h3>持ち物</h3>
        <p>ノートPC（windos/mac）</p>
        <h3>メンター</h3>
        <p>調整中</p>
        <h3>参加費</h3>
        <p>¥7,500（会場払い）※3回のイベントを含む全ての参加費です。</p>
        <p>本町オープンソースラボ コミュニティ会員は無料</p>
        <h3>主催</h3>
        <p><a href="https://sou-co.jp">株式会社ソウ</a></p>
        <br>
        <h2><span id="Python言語縛りの2monthsハッカソンの申し込みフォーム">Python言語縛りの2monthsハッカソンの申し込みフォーム</span></h2>
        <br>
        <p><a
                href="https://docs.google.com/forms/d/e/1FAIpQLSdm7F48nk8NHL3ABaQFLWfAs5ApLLjcJ6Qab7CHMkC1-wPRLA/viewform?usp=sf_link">フォームが上手く送信できない場合はこちらをクリックして送信下さい。</a>
        </p>
        <br>
        <iframe
            src="https://docs.google.com/forms/d/e/1FAIpQLSdm7F48nk8NHL3ABaQFLWfAs5ApLLjcJ6Qab7CHMkC1-wPRLA/viewform?embedded=true"
            width="640" height="1520" frameborder="0" marginheight="0" marginwidth="0">読み込んでいます...</iframe>
        {% include link-udemy_python.html %}
        <br>
        {% include share-bar.html %}
    </div>
</section>