---
layout: page
title: 【環境構築できるまでサポート！】Pythonインストールと環境構築セミナー（mac/windows）/本町オープンソースラボ -大阪でのIT勉強会多数開催！大阪本町のエンジニア向けコミュニティスペース-
description: プログラミング初心者がPythonのインストールと環境構築をできるようになるセミナーの案内です。
permalink: /contents/study/buld_python_env/
---

<!-- Slider Start -->

<section id="global-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1>【環境構築できるまでサポート！】Pythonインストールと環境構築セミナー（mac/windows）</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- User Section Start -->
<section id="contact-form">
  <div class="container">
    {% include share-bar.html %}
    <br>
    <p><b>プログラミングをやる事を決めて、Pythonを選んで勉強を始めようとしたのに、インストールと環境構築でつまづいてしまっていませんか？</b>
      <br>このセミナーはそんなプログラミング初心者の方がPythonのインストールが上手くできないという壁を現役のエンジニアの力を借りて突破してもらう企画になります。
      <br><br>
      <p>
        <font size="5" color="red">このセミナーではPythonの環境構築ができるまでサポートしますので、必ずPythonの実行環境を作って帰って頂きます。</font>
      </p>
      ※マシンの性能やその他どうしても環境構築できなかった場合は、セミナー代金の全額返金もしくは次回開催のセミナーに無料で参加して環境構築を完成していただきます。
    </p>
    <br>
    <p><b>目次</b></p>
    <li><a href="#Pythonインストールと環境構築セミナーの概要">Pythonインストールと環境構築セミナーの概要</a></li>
    <li><a href="#Pythonインストールと環境構築セミナーの対象者と非対象者
">Pythonインストールと環境構築セミナーの対象者と非対象者
      </a></li>
    <li><a href="#Pythonインストールと環境構築セミナーの内容">Pythonインストールと環境構築セミナーの内容</a></li>
    <li><a href="#Pythonインストールと環境構築セミナーの申し込みフォーム">Pythonインストールと環境構築セミナーの申し込みフォーム</a></li>
    <li><a href="#Udemyの動画学習でもPythonを勉強しよう！">Udemyの動画学習でもPythonを勉強しよう！</a></li>
    <br>
    <h2><span id="Pythonインストールと環境構築セミナーの概要">Pythonインストールと環境構築セミナーの概要</span></h2>
    <br>
    <p>プログラミング初心者がつまずく最初の壁は環境構築が上手くいかないという事でしょう。特にPythonではAnacondaでインストールする方法や、Home
      brewでインストール方法や、公式サイトからダウンロードしてインストールする方法とどの方法で環境構築するかから悩んでしまいます。</p>
    <br>
    <li>書籍やサンプルコードをみても、必ず動くはずのコードなのにエラーになる</li>
    <li>Pythonは動くのに、pipで入れたはずのパッケージが動かない</li>
    <li>Python3系を入れたはずなのに、なぜかPython2系が動いている</li>
    <li>コマンドプロンプトやコンソールで実行する場合と、インタラクティブシェルの実行する場合で呼び出すPythonが違う</li>
    <li>which pythonやwhere pythonとpython -Vを叩きまくっている</li>
    <li>エラーメッセージで検索するとどうもインストール先のパスが通っていないらしい</li>
    <li>上記に書かれている言葉自体がよくわからないが、とにかく動かない</li>
    <br>
    <p>こんな状況の方は、ぜひセミナーに来て解決して下さい。</p>
    <br>
    <p>
      初心者の方が環境構築で悩むのは、正直時間がもったい無いです。その理由は、<b>エラーが出てもそれがコードの間違いによるエラーか、インストールが上手くいっていないエラーかの判断が難しい</b>からです。ある程度経験のあるエンジニアならエラーの原因を推測できるのですが、初心者の場合はそうはいきません。
    </p>
    <p><b>
        <font color="red">環境構築は一度できると、しばらく頭を悩ます必要はなくなります。少し極端な言い方ですが、今悩んで調べて独力でなんとかしようとしている知識は、その後しばらく使わなくて良いものになります。
        </font>
      </b></p>
    <p>それよりも本当に時間をかけるべきは、Pythonのコードの書き方の学習や、プログラミングをやると決めたその目的のために時間を使う方が良いのではないでしょうか。</p>
    <br>
    <h2><span id="Pythonインストールと環境構築セミナーの対象者と非対象者">Pythonインストールと環境構築セミナーの対象者と非対象者</span></h2>
    <br>
    <h3>対象者</h3>
    <li>プログラミング初心者でPythonの環境構築をこれからする人</li>
    <li>Pythonの環境構築が上手くいかない人</li>
    <br>
    <h3>非対象者</h3>
    <br>
    <li>WindowsかMac以外にPython環境を作ろうとしている人</li>
    <li>Windowsのサポートが終了しているOSの端末の人</li>
    <p>※自分が対象外か不安な場合は、一度お問合せください。</p>
    <br>
    <h2><span id="Pythonインストールと環境構築セミナーの内容">Pythonインストールと環境構築セミナーの内容</span></h2>
    <br>
    <h3>日程</h3>
    <p>下記申込みフォームの日程をご確認下さい。</p>
    <h3>会場</h3>
    <p>本町オープンソースラボ</p>
    <p>住所：大阪市中央区瓦町3-4-9 801（株式会社ソウ内）</p>
    <h3>内容</h3>
    <li>Anacondaを使ってPython3をインストール</li>
    <li>VSCodeと拡張機能のインストール</li>
    <p>※VSCodeはテキストエディタの高機能なものと認識いただければ大丈夫です。</p>
    <h3>持ち物</h3>
    <li>ノートPC（windos/mac）</li>
    <h3>講師</h3>
    <p><a href="https://osakapython.connpass.com/">大阪Pythonの会</a>　有志エンジニア</p>
    <h3>参加費</h3>
    <p>¥2,000（会場払い）</p>
    <h3>主催</h3>
    <p><a href="https://sou-co.jp">株式会社ソウ</a></p>
    <br>
    <h2><span id="Pythonインストールと環境構築セミナーの申し込みフォーム">Pythonインストールと環境構築セミナーの申し込みフォーム</span></h2>
    <br>
    <p>
      <font color="red">*</font>印は必須項目です。
    </p>
    <!-- Google formの処理 -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>
          <center>Pythonインストールと環境構築セミナーの申し込みフォーム</center>
        </h3>
      </div>
      <div class="panel-body">
        <script type="text/javascript">var submitted = false;
        </script>
        <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;"
          onload="if(submitted){window.location='/contents/study/thanks_buld_python_env/';}">
        </iframe>
        <!-- フォームアクションの追加　formResponseで検索 -->
        <form
          action="https://docs.google.com/forms/d/e/1FAIpQLSdAr3uA567-XCaHLC4cwmRd-32ViGLzM5r7fA9AjNBNkaY5jw/formResponse"
          method="POST" id="ss-form" class="form-horizontal" target="hidden_iframe" onsubmit="submitted=true">
          <!-- メールアドレス -->
          <div class="form-group">
            <h4>
              <label for="email" class="control-label col-sm-4">
                <font color="red">*</font>メールアドレス
              </label>
            </h4>
            <div class="col-sm-8">
              <input id="email" type="text" name="emailAddress" class="form-control" placeholder="example@mail.co.jp"
                required>
            </div>
          </div>
          <!-- 日程 -->
          <div class="form-group">
            <h4>
              <label for="nittei" class="control-label col-sm-4">
                <font color="red">*</font>日程
              </label>
            </h4>
            <div class="col-sm-8">
              <div class="form-check">
                <input class="form-check-input" id="nittei" type="radio" name="entry.403502960"
                  value="2019年6月10日（月）19:00-21:00" required>
                <label class="form-check-label" for="nittei">
                  2019年6月10日（月）19:00-21:00
                </label>
                　　 </div>
              <div class="form-check">
                <input class="form-check-input" id="nittei" type="radio" name="entry.403502960"
                  value="2019年6月23日（日）13:00-15:00">
                <label class="form-check-label" for="nittei">
                  2019年6月23日（日）13:00-15:00
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" id="nittei" type="radio" name="entry.403502960"
                  value="上記日程は都合が悪いが、参加できる日程があれば参加したい">
                <label class="form-check-label" for="nittei">
                  上記日程は都合が悪いが、参加できる日程があれば参加したい
                </label>
                　</div>
            </div>
          </div>
          <!-- 氏名 -->
          　<div class="form-group">
            <h4>
              <label for="shimei" class="control-label col-sm-4">
                <font color="red">*</font>氏名
              </label>
            </h4>
            <div class="col-sm-8">
              <input class="form-control" id="shimei" type="text" name="entry.568725314" placeholder="名前を記載ください。"
                required>
            </div>
          </div>
          <!-- ノートPCのOS -->
          <div class="form-group">
            <h4>
              <label for="os" class="control-label col-sm-4">
                <font color="red">*</font>
                ノートPCのOS
              </label>
            </h4>
            <div class="col-sm-8">
              <div class="form-check">
                <input class="form-check-input" id="os" type="radio" name="entry.1483963861" value="Windows" required>
                <label class="form-check-label" for="os">
                  Windows
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" id="os" type="radio" name="entry.1483963861" value="Mac">
                <label class="form-check-label" for="os">
                  Mac
                </label>
              </div>
            </div>
          </div>
          <!-- 緊急連絡先 -->
          <div class="form-group">
            <h4>
              <label for="contact" class="control-label col-sm-4">
                <font color="red">*</font>
                緊急連絡先（イベント当日等連絡の取れる番号を記載ください）
              </label>
            </h4>
            <div class="col-sm-8">
              <input class="form-control" id="contact" type="text" name="entry.1622576043" placeholder="090-XXXX-XXXX"
                required>
            </div>
          </div>
          <!-- 連絡事項 -->
          <div class="form-group">
            <h4>
              <label for="other" class="control-label col-sm-4">
                連絡事項ありましたら、こちらに記載ください。
              </label>
            </h4>
            <div class="col-sm-8">
              <input class="form-control" id="other" type="text" name="entry.1962948915">
            </div>
          </div>
          <!-- 送信ボタン -->
          <div class="form-group">
            <div class="col-sm-offset-4 col-sm-8">
              <button type="submit" name="button" value="送信" class="btn btn-primary btn-lg">
                送信
              </button>
            </div>
          </div>
          　
        </form>
      </div>
    </div>
    <!-- Google formの処理ここまで -->
    <br><br>
    {% include link-udemy_python.html %}
    <br>
    {% include share-bar.html %}
  </div>
</section>