---
layout: redirected
sitemap: false
title: コミュニティの雰囲気がわかる！福岡のおすすめPython勉強会/本町オープンソースラボ -大阪でのIT勉強会多数開催！大阪本町のエンジニア向けコミュニティ-
description: 福岡で行われているおすすめのPython勉強会をコミュニティの雰囲気がわかりやすいように紹介しています。
permalink: /contents/study/fukuoka_python_itstudy/
redirect_to: https://hosl.dev/study/fukuoka_python_itstudy/
---

<!-- Slider Start -->
<section id="global-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1>福岡のおすすめPython勉強会</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- User Section Start -->
<section id="contact-form">
    <div class="container">
        {% include share-bar.html %}
        <br>
        <p>TECK
            PLAYで福岡エリアでPythonのキーワードで勉強会を調べると6件登録がありました。（2019年4月現在）<br>単に検索キーワードが引っかかるようにpythonと入れているだけの勉強会や、特定の資格やサービスの営業的な勉強会もあるため、
            Python濃度が濃いおすすめ勉強会をピックアップしました。</p>
        <br>
        <p><b>目次</b></p>
        <li><a href="#IT勉強会への参加が初めてという初心者の方へ">IT勉強会への参加が初めてという初心者の方へ</a></li>
        <li><a href="#福岡のPython勉強会コミュニティ紹介">福岡のPython勉強会コミュニティ紹介</a></li>
        <ul>
            <li><a href="#PyFukuoka">PyFukuoka</a></li>
        </ul>
        <li><a href="#言語別・エリア別のおすすめIT勉強会一覧">言語別・エリア別のおすすめIT勉強会一覧</a></li>
        <li><a href="#Udemyの動画学習でもPythonを勉強しよう！">Udemyの動画学習でもPythonを勉強しよう！</a></li>
        <br>

        {% include link-studygroup_first.html %}

        <h2><span id="福岡のPython勉強会コミュニティ紹介">福岡のPython勉強会コミュニティ紹介</span></h2>
        <p>ひとつのコミュニティがハンズオン形式やもくもく会形式など、様々なジャンルの勉強会を開催しているため、自分の目的に合ったスタイルの勉強会を選ぶと良いでしょう。</p>
        <h3><span id="PyFukuoka"><a href="https://fukuoka-python.connpass.com/" target="_new">PyFukuoka</a></span></h3>
        <br>
        <h4><b>勉強会名</b></h4>
        <p>PyFukuoka</p>
        <p>#発表会形式 #もくもく会形式 #交流会形式</p>
        <br>
        <h5><b>勉強会概要</b></h5>
        <p>前半は、10分と5分の枠で数名の方がLTをする形式の勉強会で、オンライン会議アプリzoomでのリモート参加も可能です。後半には、お菓子とジュースを囲んでの懇親会があります。同コミュニティでは「PyFukuokaもくもく会」も行われています。初心者向けの「PyFukuoka
            Beginners」も過去1回行われています。いずれも参加費は無料です。</p>
        <br>
        <h5><b>勉強会の進行</b></h5>
        <p>・18:45 開場<br>
            ・19:00~ オープニング<br>
            ・19:05~ LT大会<br>
            ・19:50~ クロージング<br>
            ・20:00~ 懇親会<br>
            ・21:00 終了<br>
        </p>
        <br>
        <h5><b>コミュニティの雰囲気が伝わるツイート</b></h5>
        <!-- 1 -->
        <blockquote class="twitter-tweet" data-lang="ja">
            <p lang="ja" dir="ltr">以前、<a
                    href="https://twitter.com/hashtag/PyFukuoka?src=hash&amp;ref_src=twsrc%5Etfw">#PyFukuoka</a>
                でLTしたスライドで軽くイントロダクションしているので、内容が気になる方は、下記スライドをご覧くださいませー😊 <a
                    href="https://twitter.com/hashtag/fukuokaai?src=hash&amp;ref_src=twsrc%5Etfw">#fukuokaai</a> <a
                    href="https://twitter.com/hashtag/fukuokaex?src=hash&amp;ref_src=twsrc%5Etfw">#fukuokaex</a><br><br>【LT版】Elixir入門「第7回：Python／KerasをElixirから繋いでアレコレする」<a
                    href="https://t.co/s6q1T0zptg">https://t.co/s6q1T0zptg</a></p>&mdash; piacere @fukuoka.ex(love
            Elixir&amp;Gravity extremely) (@piacere_ex) <a
                href="https://twitter.com/piacere_ex/status/935748855525670913?ref_src=twsrc%5Etfw">2017年11月29日</a>
        </blockquote>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

        <!-- 2 -->

        <blockquote class="twitter-tweet" data-lang="ja">
            <p lang="ja" dir="ltr">福岡にも Python のコミュニティーがいろいろできてきて嬉しいです、いろんな言語のコミュニティーが増えるいいな <a
                    href="https://twitter.com/hashtag/pyfukuoka?src=hash&amp;ref_src=twsrc%5Etfw">#pyfukuoka</a></p>
            &mdash;
            日下部幸夫 (@hakata_oyuki) <a
                href="https://twitter.com/hakata_oyuki/status/989811329752969217?ref_src=twsrc%5Etfw">2018年4月27日</a>
        </blockquote>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

        <!-- 3 -->
        <blockquote class="twitter-tweet" data-lang="ja">
            <p lang="ja" dir="ltr"><a
                    href="https://twitter.com/hashtag/pyfukuoka?src=hash&amp;ref_src=twsrc%5Etfw">#pyfukuoka</a>
                に参加させて頂きました。python利用された幅広い課題があり、面白かった。きれいな博多駅も通れました。 <a
                    href="https://t.co/8PaqQEWvPv">pic.twitter.com/8PaqQEWvPv</a></p>&mdash; James Cannon
            (@NanoScaleDesign) <a
                href="https://twitter.com/NanoScaleDesign/status/943468970652217344?ref_src=twsrc%5Etfw">2017年12月20日</a>
        </blockquote>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>


        <br>
        {% include link-itstudy.html %}
        <br>
        {% include link-udemy_python.html %}
        <br>
        　　{% include share-bar.html %}
    </div>
</section>