---
layout: redirected
sitemap: false
title: コミュニティの雰囲気がわかる！名古屋のおすすめPython勉強会/本町オープンソースラボ -大阪でのIT勉強会多数開催！大阪本町のエンジニア向けコミュニティ-
description: 名古屋で行われているおすすめのPython勉強会をコミュニティの雰囲気がわかりやすいように紹介しています。
permalink: /contents/study/nagoya_python_itstudy/
redirect_to: https://hosl.dev/study/nagoya_python_itstudy/
---

<!-- Slider Start -->
<section id="global-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1>名古屋のおすすめPython勉強会</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- User Section Start -->
<section id="contact-form">
    <div class="container">
        {% include share-bar.html %}
        <br>
        <p>TECK
            PLAYで愛知エリアでPythonのキーワードで勉強会を調べると19件登録がありました。（2019年2月現在）<br>単に検索キーワードが引っかかるようにpythonと入れているだけの勉強会や、特定の資格やサービスの営業的な勉強会もあるため、
            Python濃度が濃いおすすめ勉強会をピックアップしました。</p>
        <br>
        <p><b>目次</b></p>
        <li><a href="#IT勉強会への参加が初めてという初心者の方へ">IT勉強会への参加が初めてという初心者の方へ</a></li>
        <li><a href="#名古屋のPython勉強会コミュニティ紹介">名古屋のPython勉強会コミュニティ紹介</a></li>
        <ul>
            <li><a href="#Start Python Club">Start Python Club</a></li>
            <li><a href="#MTGフォレスト">MTGフォレスト</a></li>
            <li><a href="#Python東海">Python東海</a></li>
        </ul>
        <li><a href="#言語別・エリア別のおすすめIT勉強会一覧">言語別・エリア別のおすすめIT勉強会一覧</a></li>
        <li><a href="#Udemyの動画学習でもPythonを勉強しよう！">Udemyの動画学習でもPythonを勉強しよう！</a></li>
        <br>

        {% include link-studygroup_first.html %}

        <h2><span id="名古屋のPython勉強会コミュニティ紹介">名古屋のPython勉強会コミュニティ紹介</span></h2>
        <p>ひとつのコミュニティがハンズオン形式やもくもく会形式など、様々なジャンルの勉強会を開催しているため、自分の目的に合ったスタイルの勉強会を選ぶと良いでしょう。</p>
        <h3><span id="Start Python Club"><a href="https://startpython.connpass.com/" target="_new">Start Python
                    Club</a></span></h3>
        <br>
        <h4><b>勉強会名</b></h4>
        <p>Pythonもくもく会in名古屋</p>
        <p>＃もくもく会形式</p>
        <br>
        <h5><b>勉強会概要</b></h5>
        <p>作業や勉強をご自身のペースで、もくもくすすめる会です。とはいえ、わからないことがあれば、参加者同士で解決を考えたり、参加しているプロのプログラマに質問をすることもできます。
            これからPythonを始めたい初心者の方も歓迎です。主催のStart Python Clubは、関東を中心に活発に勉強会を行っておられるコミュニティで、こちらは同コミュニティによる名古屋での新しい勉強会です。</p>
        <br>
        <h5><b>勉強会の進行</b></h5>
        <p>・簡単な自己紹介<br>
            ・もくもく会<br>
        </p>
        <br>
        <h5><b>コミュニティの雰囲気が伝わるツイート</b></h5>
        <!-- 1 -->
        <blockquote class="twitter-tweet" data-lang="ja">
            <p lang="ja" dir="ltr"><a
                    href="https://twitter.com/hashtag/stapy?src=hash&amp;ref_src=twsrc%5Etfw">#stapy</a>
                はスタートアップも大企業も応援。<br>イノベーションの生まれる素敵なハブになりそうですねー</p>&mdash; nikkie (@ftnext) <a
                href="https://twitter.com/ftnext/status/1085508335741202437?ref_src=twsrc%5Etfw">2019年1月16日</a>
        </blockquote>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <br>
        <!-- 2 -->
        <blockquote class="twitter-tweet" data-lang="ja">
            <p lang="ja" dir="ltr">【Start Python
                Club：年頭あいさつ】<br>あけましておめでとうございます。2015年の設立から4年目に入り、4300名を超えるコミュニティになりました。引き続き、PythonとITを楽しく学べる場を提供していきます。今年もよろしくお願いします。<a
                    href="https://twitter.com/hashtag/stapy?src=hash&amp;ref_src=twsrc%5Etfw">#stapy</a><a
                    href="https://t.co/Q8NKmAxyYm">https://t.co/Q8NKmAxyYm</a>
                <a href="https://t.co/dFbfoKfNGj">pic.twitter.com/dFbfoKfNGj</a>
            </p>&mdash; Takeshi Akutsu
            (@akucchan_world) <a
                href="https://twitter.com/akucchan_world/status/1083109322849103872?ref_src=twsrc%5Etfw">2019年1月9日</a>
        </blockquote>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <br>
        <h3><span id="MTGフォレスト"><a href="https://mtg-forest.connpass.com/" target="_new">MTGフォレスト</a></span></h3>
        <br>
        <h4><b>勉強会名</b></h4>
        <p>Pythonのもくもく会とボランティア</p>
        <p>#もくもく会形式</p>
        <br>
        <h5><b>勉強会概要</b></h5>
        <p>月曜日の夕方、月に3～5回ほど開催されている、活発な勉強会です。
            Pythonをこれから始める、という方にも参加して頂けます。
            アノテーションに関してサポートやヘルプがあるので、初心者の方でも不自由なく進められます。(アノテーションツールはVatic)
            GPUマシンを利用でき(定員数に限度があります)jupyter notebookからPython3のコードを試すことができます。(PCはご持参ください)</p>
        <br>

        <h3><span id="Python東海"><a href="https://connpass.com/series/292/" target="_new">Python東海</a></span></h3>
        <br>
        <h4><b>勉強会名</b></h4>
        <p>Python東海 勉強会</p>
        <p>#発表会形式 #講義形式（ハンズオン）</p>
        <br>
        <h5><b>勉強会概要</b></h5>
        <p>年に3回ほど、土曜日に開催されている勉強会です。
            2008年に始まり、10年以上の実績があります。
            開催回ごとにテーマが違い、誰でも発表できる会や、専門家を招いてのセッションや講義、参加者みんなで話し合ってPython初心者向けの問題を解く、などなど、バラエティに富んだプログラムが魅力的。(会場、費用も回によって変わります)
            懇親会(費用別途）への参加は任意ですが、同じプログラムを勉強する人や先輩達と交流する貴重なチャンスです。</p>
        <br>
        <h5><b>コミュニティの雰囲気が伝わるツイート</b></h5>
        <!-- 1 -->
        <blockquote class="twitter-tweet" data-lang="ja">
            <p lang="ja" dir="ltr"><a
                    href="https://twitter.com/hashtag/python%E6%9D%B1%E6%B5%B7?src=hash&amp;ref_src=twsrc%5Etfw">#python東海</a><br><br>python東海の名古屋城での勉強会。<br>趣きがあっていいね！
                <a href="https://t.co/LSRnYoTYS8">pic.twitter.com/LSRnYoTYS8</a>
            </p>&mdash; ひろエム (@hiro_m_hiro_m) <a
                href="https://twitter.com/hiro_m_hiro_m/status/1020646795792138241?ref_src=twsrc%5Etfw">2018年7月21日</a>
        </blockquote>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <br>
        <!-- 2 -->
        <blockquote class="twitter-tweet" data-lang="ja">
            <p lang="ja" dir="ltr">今日のLT資料 <a href="https://t.co/3FfuoVBtPS">https://t.co/3FfuoVBtPS</a><a
                    href="https://twitter.com/hashtag/python%E6%9D%B1%E6%B5%B7?src=hash&amp;ref_src=twsrc%5Etfw">#python東海</a>
            </p>&mdash;
            yuji38kwmt (@yuji38kwmt) <a
                href="https://twitter.com/yuji38kwmt/status/1020555298740658177?ref_src=twsrc%5Etfw">2018年7月21日</a>
        </blockquote>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <br>
        <!-- 3 -->
        <blockquote class="twitter-tweet" data-lang="ja">
            <p lang="ja" dir="ltr"><a
                    href="https://twitter.com/hashtag/python%E6%9D%B1%E6%B5%B7?src=hash&amp;ref_src=twsrc%5Etfw">#python東海</a>
                酒飲みながらLT <a href="https://t.co/YF0eXKs2my">pic.twitter.com/YF0eXKs2my</a></p>&mdash; Yoshichi
            (@Yoshichi19) <a
                href="https://twitter.com/Yoshichi19/status/1020615287744294912?ref_src=twsrc%5Etfw">2018年7月21日</a>
        </blockquote>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <br>
        <br>
        {% include link-itstudy.html %}
        <br>
        {% include link-udemy_python.html %}
        <br>
        　　{% include share-bar.html %}
    </div>
</section>