---
layout: page
title: コミュニティの雰囲気がわかる！名古屋のおすすめRuby勉強会/本町オープンソースラボ -大阪でのIT勉強会多数開催！大阪本町のエンジニア向けコミュニティ-
description: 名古屋で行われているおすすめのRuby勉強会をコミュニティの雰囲気がわかりやすいように紹介しています。
permalink: /contents/study/nagoya_ruby_itstudy/
---

<!-- Slider Start -->
<section id="global-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1>大阪のおすすめRuby勉強会</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- User Section Start -->
<section id="contact-form">
    <div class="container">
        {% include share-bar.html %}
        <br>
        <p>TECK PLAYで愛知エリアでRubyのキーワードで勉強会を調べると0件登録でした。（2019年6月現在）<br>teck playに引っかかっていない勉強会を確認し、
            Ruby濃度が濃いおすすめ勉強会をピックアップしました。</p>
        <br>
        <p><b>目次</b></p>
        <li><a href="#IT勉強会への参加が初めてという初心者の方へ">IT勉強会への参加が初めてという初心者の方へ</a></li>
        <li><a href="#大阪のRuby勉強会コミュニティ紹介">大阪のRuby勉強会コミュニティ紹介</a></li>
        <ul>
            <li> - <a href="#Ruby東海">Ruby東海</a></li>
            <li> - <a href="#railsgirls-nagoya">railsgirls-nagoya</a></li>
        </ul>
        <li><a href="#言語別・エリア別のおすすめIT勉強会一覧">言語別・エリア別のおすすめIT勉強会一覧</a></li>
        <br>

        {% include link-studygroup_first.html %}

        <h2><span id="名古屋のRuby勉強会コミュニティ紹介">名古屋のRuby勉強会コミュニティ紹介</span></h2>
        <p>ひとつのコミュニティがハンズオン形式やもくもく会形式など、様々なジャンルの勉強会を開催しているため、自分の目的に合ったスタイルの勉強会を選ぶと良いでしょう。</p>
        <br>
        <h3><span id="Ruby東海"><a href="https://rubytokai.doorkeeper.jp/" target="_new">Ruby東海</a></h3>
        <br>
        <h4><b>勉強会名</b></h4>
        <p>Ruby東海</p>
        <p>#もくもく会形式　#発表会形式</p>
        <br>
        <h5><b>勉強会概要</b></h5>
        <p>基本的には、もくもくとプログラムを書いたり、他の人に相談したり、それぞれが自由に勉強を進めていくスタイルですが、参加者からの要望があれば発表等も行われています。やりたいこと、発表したいことは、メーリングリストからリクエストすることができます。参加費は無料です。
        </p>
        <br>
        <h5><b>コミュニティの雰囲気が伝わるツイート</b></h5>
        <!-- 1 -->
        <blockquote class="twitter-tweet">
            <p lang="ja" dir="ltr">ruby東海の代表のeitoballさん、KAKASI-rubyの開発者だったの知らなかった…</p>&mdash; 八雲はる (@huequica) <a
                href="https://twitter.com/huequica/status/1110532868948652032?ref_src=twsrc%5Etfw">March 26, 2019</a>
        </blockquote>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <br>
        <!-- 2 -->
        <blockquote class="twitter-tweet">
            <p lang="ja" dir="ltr"><a
                    href="https://twitter.com/hashtag/Ruby%E6%9D%B1%E6%B5%B7?src=hash&amp;ref_src=twsrc%5Etfw">#Ruby東海</a>
                ruby楽しいな <a href="https://t.co/G01RMvCM7W">pic.twitter.com/G01RMvCM7W</a></p>&mdash; 久我 (@gkuga) <a
                href="https://twitter.com/gkuga/status/1073559782148136960?ref_src=twsrc%5Etfw">December 14, 2018</a>
        </blockquote>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <br>
        <!-- 3 -->
        <blockquote class="twitter-tweet">
            <p lang="ja" dir="ltr">きょうは Ruby東海 <a
                    href="https://twitter.com/hashtag/rubytokai?src=hash&amp;ref_src=twsrc%5Etfw">#rubytokai</a>
                に会場提供しています。ちゃんと参加するの久しぶり…。<br>今は <a
                    href="https://twitter.com/eitoball?ref_src=twsrc%5Etfw">@eitoball</a> が
                もうすぐリリースのRuby2.6 の紹介をしています！ <a href="https://t.co/xfnMqOzoRG">pic.twitter.com/xfnMqOzoRG</a></p>&mdash;
            どみにをん525
            (@Dominion525) <a
                href="https://twitter.com/Dominion525/status/1073520740249399296?ref_src=twsrc%5Etfw">December 14,
                2018</a>
        </blockquote>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <br>
        <h3><span id="railsgirls-nagoya"><a href="https://railsgirls-nagoya.doorkeeper.jp/"
                    target="_new">railsgirls-nagoya</a></h3>
        <br>
        <h4><b>勉強会名</b></h4>
        <p>railsgirls-nagoya</p>
        <p>#講義形式(ハンズオン)</p>
        <br>
        <h5><b>勉強会概要</b></h5>
        <p>フィンランド生まれたこの勉強会は、今では世界中で行われていて、日本では2012年からスタートしました。初めてプログラムを書く、初めてRailsを使うといった、未経験の女性を主な対象としています。2日間の日程で、1日目に環境構築を済ませ、2日目はwebアプリケーションを作ってインターネット上に公開します。コーチのサポートを受けながら進めていくので、未経験でも安心です。終了後にはアフターパーティーで、達成感を共有できることも魅力的です。昼食もついていて参加費が無料です。
        </p>
        <br>
        <h5><b>勉強会の進行</b></h5>
        <p>1日目</p>
        <li>19:30~21:00 インストール・ディ</li>
        <p>2日目</p>
        <li>9:30~10:30 レジストレーション、コーヒー</li>
        <li>10:30~10:45 開会</li>
        <li>10:45~13:00 ワークショップ</li>
        <li>13:00~14:00 ランチ</li>
        <li>14:00~14:30 ライトニングトークス</li>
        <li>14:30~17:00 ワークショップ</li>
        <li>17:15~19:00 アフター・パーティ</li>
        <h5><b>コミュニティの雰囲気が伝わるツイート</b></h5>
        <!-- 1 -->
        <blockquote class="twitter-tweet">
            <p lang="ja" dir="ltr">Rails Girls Nagoya #4 はじまった！<a
                    href="https://twitter.com/hashtag/rgnagoya?src=hash&amp;ref_src=twsrc%5Etfw">#rgnagoya</a> <a
                    href="https://t.co/b542eRYIQv">pic.twitter.com/b542eRYIQv</a></p>&mdash; cobachie (@co_bachie) <a
                href="https://twitter.com/co_bachie/status/957064371879866369?ref_src=twsrc%5Etfw">January 27, 2018</a>
        </blockquote>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <br>
        <!-- 3 -->
        <blockquote class="twitter-tweet">
            <p lang="ja" dir="ltr">今日は Rails Girls Nagoya に会場提供しています。 今日は1日目インストールデイです。ぼくもコーチとしてお手伝いをしています。 <a
                    href="https://twitter.com/hashtag/misoca?src=hash&amp;ref_src=twsrc%5Etfw">#misoca</a> <a
                    href="https://twitter.com/hashtag/rgnagoya?src=hash&amp;ref_src=twsrc%5Etfw">#rgnagoya</a> <a
                    href="https://t.co/U7tTYvpZJ5">pic.twitter.com/U7tTYvpZJ5</a></p>&mdash; どみにをん525 (@Dominion525) <a
                href="https://twitter.com/Dominion525/status/956825720692490243?ref_src=twsrc%5Etfw">January 26,
                2018</a>
        </blockquote>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <br>
        <!-- 4 -->
        <blockquote class="twitter-tweet">
            <p lang="ja" dir="ltr">Rails Girls Nagoya 4th の開封されたお菓子神社～<a
                    href="https://twitter.com/hashtag/rgnagoya?src=hash&amp;ref_src=twsrc%5Etfw">#rgnagoya</a> <a
                    href="https://twitter.com/hashtag/raiisgirlsnagoya?src=hash&amp;ref_src=twsrc%5Etfw">#raiisgirlsnagoya</a>
                <a href="https://t.co/VSZri5rnwI">pic.twitter.com/VSZri5rnwI</a></p>&mdash; yukaina (@yukaina) <a
                href="https://twitter.com/yukaina/status/957051098874834944?ref_src=twsrc%5Etfw">January 27, 2018</a>
        </blockquote>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <br>
        <!-- 5 -->
        <blockquote class="twitter-tweet">
            <p lang="ja" dir="ltr">Rails Girls Nagoya more!を振り返る。（オフライン勉強会から、オンライン勉強会へ） <a
                    href="https://t.co/OqaJBOc6eS">https://t.co/OqaJBOc6eS</a></p>&mdash; cobachie (@co_bachie) <a
                href="https://twitter.com/co_bachie/status/1077723100928602112?ref_src=twsrc%5Etfw">December 26,
                2018</a>
        </blockquote>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <br>
        {% include link-itstudy.html %}
        <br>
        {% include share-bar.html %}
    </div>
</section>