---
layout: page
title: コミュニティの雰囲気がわかる！大阪のおすすめPython勉強会/本町オープンソースラボ -大阪でのIT勉強会多数開催！大阪本町のエンジニア向けコミュニティ-
description: 大阪で行われているおすすめのPython勉強会をコミュニティの雰囲気がわかりやすいように紹介しています。
permalink: /contents/study/osaka_python_itstudy/
---

<!-- Slider Start -->
<section id="global-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1>大阪のおすすめPython勉強会</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- User Section Start -->
<section id="contact-form">
    <div class="container">
        {% include share-bar.html %}
        <br>
        <p>TECK
            PLAYで大阪エリアでPythonのキーワードで勉強会を調べると13件登録がありました。（2018年11月現在）<br>単に検索キーワードが引っかかるようにpythonと入れているだけの勉強会や、特定の資格やサービスの営業的な勉強会もあるため、
            Python濃度が濃いおすすめ勉強会をピックアップしました。</p>
        <br>
        <p><b>目次</b></p>
        <li><a href="#IT勉強会への参加が初めてという初心者の方へ">IT勉強会への参加が初めてという初心者の方へ</a></li>
        <li><a href="#大阪のPython勉強会コミュニティ紹介">大阪のPython勉強会コミュニティ紹介</a></li>
        <ul>
            <li><a href="#大阪Pythonの会">大阪Pythonの会</a></li>
            <li><a href="#Whitepaper Inc.">Whitepaper Inc.</a></li>
            <li><a href="#SOLEIL DATA DOJO">SOLEIL DATA DOJO</a></li>
        </ul>
        <li><a href="#言語別・エリア別のおすすめIT勉強会一覧">言語別・エリア別のおすすめIT勉強会一覧</a></li>
        <li><a href="#Udemyの動画学習でもPythonを勉強しよう！">Udemyの動画学習でもPythonを勉強しよう！</a></li>
        <br>

        {% include link-studygroup_first.html %}

        <h2><span id="大阪のPython勉強会コミュニティ紹介">大阪のPython勉強会コミュニティ紹介</span></h2>
        <p>ひとつのコミュニティがハンズオン形式やもくもく会形式など、様々なジャンルの勉強会を開催しているため、自分の目的に合ったスタイルの勉強会を選ぶと良いでしょう。</p>
        <h3><span id="大阪Pythonの会"><a href="https://osakapython.connpass.com/" target="_new">大阪Pythonの会</a></span></h3>
        <br>
        <h4><b>勉強会名</b></h4>
        <p>大阪Pythonの会</p>
        <p>＃発表形式 ＃もくもく会形式＃交流会形式</p>
        <br>
        <h5><b>勉強会概要</b></h5>
        <p>大阪pythonの会は2017年4月に本町オープンソースラボで行われたPython Boot Camp in 大阪という初心者向けハンズオンの懇親会で参加者によって立ち上げられました。</p>
        <p>毎回15〜20名程度で新規で来る方とリピーターが50％くらいのコミュニティになります。2018年現在、Python人気もありキャンセル待ちが出る事が多い勉強会です。毎月1回開催されており、初心者向けのハンズオンからスタートしているので、誰でもウェルカムの雰囲気でアットホームです。
        </p>
        <br>
        <h5><b>勉強会の進行</b></h5>
        <p>・自己紹介[お名前(connpass ID)、Python歴、取り組んでいること等]<br>
            ・発表、LT、ハンズオン<br>
            ・もくもく会<br>
        </p>
        <p>自己紹介をするので、どんな人が来ていてどんな事が得意なのかがわかります。自分の困っている事も自己紹介で紹介することでアドバイスも貰いやすくなります。</p>
        <p>また、発表者の人数により発表の時間が変わりますので、会によって発表を聞く時間が長くなったり、もくもく作業する時間が長くなったりします。もくもく会の時間は作業をしつつ、雑談もするゆるい時間になります。勉強会終了後は、希望者で懇親会も行われています。（近くの居酒屋）
        </p>
        <br>
        <h5><b>コミュニティの雰囲気が伝わるツイート</b></h5>
        <!-- 1 -->
        <blockquote class="twitter-tweet" data-lang="ja">
            <p lang="ja" dir="ltr">大阪Pythonの会 サーバーレスフレームワーク - Zappaを使ってみたはなし - <a
                    href="https://t.co/DL682IsIAo">https://t.co/DL682IsIAo</a>
                via <a href="https://twitter.com/slideship?ref_src=twsrc%5Etfw">@slideship</a></p>&mdash; Takahiro
            Ikeuchi
            (@iktakahiro) <a
                href="https://twitter.com/iktakahiro/status/923560871925657600?ref_src=twsrc%5Etfw">2017年10月26日</a>
        </blockquote>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <br>
        <!-- 2 -->
        <blockquote class="twitter-tweet" data-lang="ja">
            <p lang="ja" dir="ltr">今日の大阪Pythonの会でJupyter
                notebookの魅力を教えてもらい、さらに環境構築のアドバイスもたくさんいただき、本当に感謝しかない。<br><br>今まで、anacondaの環境で開発していると思っていたが、実はanacondaのpathを通していなかったらしい。<br>今日、仮想環境を作り、今後はゴリゴリJupyterで開発したい
            </p>&mdash;
            生粋のねむらー (@lovenem_Japan) <a
                href="https://twitter.com/lovenem_Japan/status/933751713642594304?ref_src=twsrc%5Etfw">2017年11月23日</a>
        </blockquote>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <br>
        <!-- 3 -->
        <blockquote class="twitter-tweet" data-lang="ja">
            <p lang="ja" dir="ltr">お疲れ様でした。Pythonの話ができて楽しかったー <a
                    href="https://twitter.com/hashtag/osakapython?src=hash&amp;ref_src=twsrc%5Etfw">#osakapython</a></p>
            &mdash;
            ⑨ (@number09) <a
                href="https://twitter.com/number09/status/1060875046791462912?ref_src=twsrc%5Etfw">2018年11月9日</a>
        </blockquote>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <br>
        <h4><b>勉強会名</b></h4>
        <p>【初心者歓迎】大阪Pythonの会 もくもく会</p>
        <p>＃もくもく会</p>
        <br>
        <h5><b>勉強会概要</b></h5>
        <p>大阪Pythonの会は毎月1回だけで発表がメインのため、もう少し作業を進められるもくもく会の形式になります。自分のサービスやアプリの開発を進める上で、作業時間を取って進めたい方や、わからない事を解消しながら進めたい人におすすめです。
        </p>
        <p>また、開催場所の本町オープンソースラボにはPython関連書籍もあるため、技術書を読むこともできます。</p>

        <br>
        <h5><b>勉強会の進行</b></h5>
        <p>・自己紹介（今日やることの共有）<br>
            ・もくもく会<br>
            ・今日進められた事や感想の共有<br>
        </p>
        <p>懇親会は特にありません。</p>

        <br>
        <h3><span id="Whitepaper Inc."><a href="https://python-web.connpass.com/" target="_new">Whitepaper
                    Inc.</a></span></h3>
        <br>
        <h4><b>勉強会名</b></h4>
        <p>Pythonで作るWebアプリケーション</p>
        <p>#講義形式（ハンズオン）</p>
        <br>
        <h5><b>勉強会概要</b></h5>
        <p>PythonでTensorflowやKerasでディープラーニングのプログラムを作成している人を対象に、Djangoというフレームワークを使いWebサービスとして公開できるようにハンズオンで勉強できる会。Djangoのチュートリアルで日本語のまとまった文献は非常に少ないため、英語版のサイトから内容を日本語でまとめて、ハンズオン形式で動作体験しながら進められます。
        </p>
        <p>基本的にPythonの基礎を理解した上で無いとDjangoなどのフレームワークを使うのは難しいため、初心者には難しい内容です。中級者以上におすすめの勉強会です。</p>
        <br>

        <h3><span id="SOLEIL DATA DOJO"><a href="https://soleildatadojo.connpass.com/" target="_new">SOLEIL DATA
                    DOJO</a></span></h3>
        <br>
        <h4><b>勉強会名</b></h4>
        <p>大江橋Pythonの会</p>
        <p>#発表会形式 #交流会形式</p>
        <br>
        <h5><b>勉強会概要</b></h5>
        <p>30分から1時間程度のしっかりした内容の発表をメインにしたPython勉強会になります。発表のテーマも機械学習、ディープラーニングからデータ分析まで幅広く中級者以上の方が楽しめる内容になっています。Pythonの基礎がこれからという初心者には、難しい内容です。中級者以上におすすめの勉強会です。
        </p>
        <br>
        <h5><b>コミュニティの雰囲気が伝わるツイート</b></h5>
        <!-- 1 -->
        <blockquote class="twitter-tweet" data-lang="ja">
            <p lang="ja" dir="ltr">今日は、こちらの大江橋Pythonの会#2のLT枠で「インターン生と作る顔認識AIシステム」を発表させて頂きますー<a
                    href="https://t.co/i8xXuixUrP">https://t.co/i8xXuixUrP</a></p>&mdash;
            ヨウスケ-ChainDisaster (@YoSuke_MMaLone) <a
                href="https://twitter.com/YoSuke_MMaLone/status/1033596301143814144?ref_src=twsrc%5Etfw">2018年8月26日</a>
        </blockquote>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <br>
        <h4><b>勉強会名</b></h4>
        <p>『Python, Machine Learning & Raspberry PI』自主勉強会</p>
        <p>#もくもく会形式</p>
        <br>
        <h5><b>勉強会概要</b></h5>
        <p>「ご自身の課題やテーマに一人で集中して取り組みたいという方」 「何名かで一緒に共通課題（例：FashionMNISTの分類問題の精度向上等）にチャレンジしたいという方」
            「分からないところを誰かに聞きたい、聞かれたら教えてもよいという方」といった形でゆるくチームを分けをし、それぞれのニーズに合わせて勉強できるもくもく会です。</p>
        <p>初心者の方も歓迎で上級者に質問できる環境ですので、初心者におすすめの勉強会です。</p>
        <br>
        {% include link-itstudy.html %}
        <br>
        {% include link-udemy_python.html %}
        <br>
        　　{% include share-bar.html %}
    </div>
</section>