---
layout: page
title: コミュニティの雰囲気がわかる！大阪のおすすめRuby勉強会/本町オープンソースラボ -大阪でのIT勉強会多数開催！大阪本町のエンジニア向けコミュニティスペース-
description: 大阪で行われているおすすめのRuby勉強会をコミュニティの雰囲気がわかりやすいように紹介しています。
permalink: /contents/study/osaka_ruby_itstudy/
---

<!-- Slider Start -->
<section id="global-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1>大阪のおすすめRuby勉強会</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- User Section Start -->
<section id="contact-form">
    <div class="container">
        {% include share-bar.html %}
        <br>
        <p>TECK PLAYで大阪エリアでRubyのキーワードで勉強会を調べると5件登録がありました。（2018年11月現在）<br>単に検索キーワードが引っかかるようにRubyと入れているだけの勉強会や、特定の資格やサービスの営業的な勉強会もあるため、
            Ruby濃度が濃いおすすめ勉強会をピックアップしました。</p>
        <br>
        <p><b>目次</b></p>
            <li><a href="#IT勉強会への参加が初めてという初心者の方へ">IT勉強会への参加が初めてという初心者の方へ</a></li>
            <li><a href="#大阪のRuby勉強会コミュニティ紹介">大阪のRuby勉強会コミュニティ紹介</a></li>
            <ul>
                <li> - <a href="#Rails Follow-up Osaka">Rails Follow-up Osaka</a></li>
                <li> - <a href="#naniwa.rb">naniwa.rb</a></li>
                <li> - <a href="#Shinosaka.rb">Shinosaka.rb</a></li>
                <li> - <a href="#Ruby関西">Ruby関西</a></li>
            </ul>
            <li><a href="#言語別・エリア別のおすすめIT勉強会一覧">言語別・エリア別のおすすめIT勉強会一覧</a></li>
        <br>

        {% include link-studygroup_first.html %}

        <h2><span id="大阪のRuby勉強会コミュニティ紹介">大阪のRuby勉強会コミュニティ紹介</span></h2>
        <p>ひとつのコミュニティがハンズオン形式やもくもく会形式など、様々なジャンルの勉強会を開催しているため、自分の目的に合ったスタイルの勉強会を選ぶと良いでしょう。</p>
        <br>
        <h3><span id="Rails Follow-up Osaka"><a href="https://rails-follow-up-osaka.doorkeeper.jp/" target="_new">Rails Follow-up Osaka</a></h3>
        <br>
        <h4><b>勉強会名</b></h4>
        <p>Rails Follow-up Osaka</p>
        <p>＃もくもく会形式</p>
        <br>
        <h5><b>勉強会概要</b></h5>
        <p>大阪でRuby、Railsの初心者・初級者向けに有志でフォローする勉強会で、知らない人が知ってる人に質問して教えあったり、相談したりできるコミュニティです。<br>        
        <p>おおよそ1ヶ月毎に行われており、初心者で詰まった所がある場合に持ち込んで相談するのに最適な勉強会です。</p>
        <br>
        <h5><b>コミュニティの雰囲気が伝わるツイート</b></h5>
        <!-- 1 -->
        <blockquote class="twitter-tweet" data-lang="ja">
            <p lang="ja" dir="ltr">Rails Follow-up Osaka でこの記事の通りにフォローできた。コマンドプロンプトは少し短めのものを設定したけど、VS Code の拡張機能の紹介はいいね <a href="https://twitter.com/hashtag/rails_followup_osaka?src=hash&amp;ref_src=twsrc%5Etfw">#rails_followup_osaka</a><a
                    href="https://t.co/bCxRUmGJ4m">https://t.co/bCxRUmGJ4m</a></p>&mdash; ogom (@ogomr) <a href="https://twitter.com/ogomr/status/1040062075102355456?ref_src=twsrc%5Etfw">2018年9月13日</a>
        </blockquote>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <br>
        <!-- 2 -->
        <blockquote class="twitter-tweet" data-lang="ja">
            <p lang="ja" dir="ltr">昨日エイチーム様で開催されていたRails Follow-up Osaka
                19に参加してきました。2時間であっと言う間だったけど、普段家でもくもくと1人で勉強していると孤独を感じるけど、来ていた人みんなrailsを勉強したい人なんだ〜！と思うと、なんだか勇気が出た。そしてオフラインって素晴らしい🌟</p>&mdash;
            heureux (@h_e_u_r_e_u_x) <a href="https://twitter.com/h_e_u_r_e_u_x/status/1017375352195198983?ref_src=twsrc%5Etfw">2018年7月12日</a>
        </blockquote>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <br>
        <h3><span id="naniwa.rb"><a href="https://naniwarb.doorkeeper.jp/" target="_new">naniwa.rb</a></h3>
        <br>
        <h4><b>勉強会名</b></h4>
        <p>naniwa.rb</p>
        <p>#読書会形式 #もくもく会形式 #交流会形式</p>
        <br>
        <img src="{{ site.baseurl }}/img/users/naniwa_rb.jpg" alt="naniwa.rb">
        <br><br>
        <h5><b>勉強会概要</b></h5>
        <p>以前DDD.rbという名前で活動していたコミュニティがnaniwa.rbという名前に変わりました。読書会と電子工作を同時に行っており、かなり幅広いニーズに答えられる勉強会になっています。</p>
        <br>
        <li>本を一緒に読みながらRubyを勉強したい</li>                    
        <li>Rubyで電子工作をしたい</li>
        <br>
        <p>というような方にはぴったりのRubyコミュニティです。
        <br>懇親会も希望者で開催されているので、コミュニティに溶け込みやすい雰囲気があります。初心者にも中級者にもおススメの勉強会です。</p>
        <br>
        <h5><b>勉強会の進行</b></h5>
        <br>
        <li>自己紹介</li>
        <li>もくもく会</li>
        <li>電子工作ワークショップ</li>
        <li>LT(希望者のみ)</li>
        <li>ハンズオン(持ち込み企画があれば)</li>
        <br>
        <h5><b>コミュニティの雰囲気が伝わるツイート</b></h5>
        <!-- 1 -->
        <blockquote class="twitter-tweet" data-lang="ja">
            <p lang="ja" dir="ltr"><a href="https://twitter.com/hashtag/%E3%83%97%E3%83%AD%E3%82%92%E7%9B%AE%E6%8C%87%E3%81%99%E4%BA%BA%E3%81%AE%E3%81%9F%E3%82%81%E3%81%AERuby%E5%85%A5%E9%96%80?src=hash&amp;ref_src=twsrc%5Etfw">#プロを目指す人のためのRuby入門</a>
                の読書会、めっちゃありがたいです🙏わからないところを周りの人にサポートしてもらうのはいいですね♪ 電子工作も面白そう！<br>naniwa.rb#1 開催しました! - 空飛ぶとんジニア <a href="https://t.co/Y21yWbbTik">https://t.co/Y21yWbbTik</a></p>&mdash;
            Junichi Ito (伊藤淳一) (@jnchito) <a href="https://twitter.com/jnchito/status/1054675102736908288?ref_src=twsrc%5Etfw">2018年10月23日</a>
        </blockquote>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <br>
        <!-- ２ -->
        <blockquote class="twitter-tweet" data-lang="ja">
            <p lang="ja" dir="ltr">naniwa.rb の第1回目でLEDで光るハーバリウムのイヤーカフを作ってきた。向かい合わせで座って作る好きだった図工の時間を思い出す。 <a href="https://twitter.com/hashtag/naniwarb?src=hash&amp;ref_src=twsrc%5Etfw">#naniwarb</a>
                <a href="https://t.co/JLAVWAreFN">pic.twitter.com/JLAVWAreFN</a></p>&mdash; ogom (@ogomr) <a href="https://twitter.com/ogomr/status/1053640750313832448?ref_src=twsrc%5Etfw">2018年10月20日</a>
        </blockquote>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <br>
        <!-- ３ -->
        <blockquote class="twitter-tweet" data-lang="ja">
            <p lang="ja" dir="ltr"><a href="https://twitter.com/hashtag/naniwarb?src=hash&amp;ref_src=twsrc%5Etfw">#naniwarb</a>
                【プロを目指す人のためのRuby入門】をもくもくしてから、【ハーバリウム】を光らせました <a href="https://t.co/G6jjVokjSS">pic.twitter.com/G6jjVokjSS</a></p>&mdash;
            さきぷぺぽ (@ayatanet) <a href="https://twitter.com/ayatanet/status/1053558155974561792?ref_src=twsrc%5Etfw">2018年10月20日</a>
        </blockquote>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <br>
        <!-- 4 -->
        <blockquote class="twitter-tweet" data-cards="hidden" data-lang="ja">
            <p lang="ja" dir="ltr">12月のなにわrbは<br>・プロを目指す人のためのRuby入門の読書会<br>・電子工作<br>です!<br>電子工作は、ガンプラの装飾をするみたいなので楽しみ!!<br>僕は、初めてガンプラを買いました(*´ω｀*)<br>ぜひご参加ください!!<a
                    href="https://t.co/c6kEELcEr0">https://t.co/c6kEELcEr0</a> <a href="https://twitter.com/hashtag/naniwarb?src=hash&amp;ref_src=twsrc%5Etfw">#naniwarb</a></p>&mdash;
            Islands5 (@510_five) <a href="https://twitter.com/510_five/status/1064681913565233152?ref_src=twsrc%5Etfw">2018年11月20日</a>
        </blockquote>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <br>
        <h3><span id="Shinosaka.rb"><a href="https://shinosakarb.doorkeeper.jp/" target="_new">Shinosaka.rb</a></h3>
        <br>
        <h4><b>勉強会名</b></h4>
        <p>Shinosaka.rb</p>
        <p>#発表会形式 #もくもく会形式 #交流会形式</p>
        <br>
        <h5><b>勉強会概要</b></h5>
        <p>現場の困りごとを持ち込んで、みんなで解決できるコミュニティです。内容はRubyやRailsの話題というより、React、Redux、GraphQLなど
        初心者では話題についていくのが少し難しいです。<br>
        <p>Shinosaka.rbでは17時台から懇親会が開催されており、懇親会が勉強会の本番とも言われており、参加する場合は懇親会まで参加をおススメします。</p>
        <br>
        <h5><b>コミュニティの雰囲気が伝わるツイート</b></h5>
        <!-- 1 -->
        <blockquote class="twitter-tweet" data-lang="ja">
            <p lang="ja" dir="ltr">Shinosaka.rb #27 (GraphQL) に参加した話を書いた。 <a href="https://t.co/0UPLXzaArj">https://t.co/0UPLXzaArj</a></p>&mdash;
            Kazuhiro NISHIYAMA (@znz) <a href="https://twitter.com/znz/status/878622799715213312?ref_src=twsrc%5Etfw">2017年6月24日</a>
        </blockquote>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <br>
        <!-- 2 -->
        <blockquote class="twitter-tweet" data-lang="ja">
            <p lang="ja" dir="ltr">初参加した <a href="https://twitter.com/hashtag/shinosakarb?src=hash&amp;ref_src=twsrc%5Etfw">#shinosakarb</a>
                は、こんな感じのコミュニティでした！ <a href="http://t.co/YTRXYvGHxm">pic.twitter.com/YTRXYvGHxm</a></p>&mdash; tomcha (@tomcha_)
            <a href="https://twitter.com/tomcha_/status/622385075657703425?ref_src=twsrc%5Etfw">2015年7月18日</a>
        </blockquote>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <br>
        <!-- 3 -->
        <blockquote class="twitter-tweet" data-lang="ja">
            <p lang="ja" dir="ltr">はてなブログに投稿しました<br>Shinosaka.rb <a href="https://twitter.com/hashtag/9%E3%82%92%E9%96%8B%E5%82%AC%E3%81%97%E3%81%9F%E3%82%88%E3%83%BC%E3%83%98?src=hash&amp;ref_src=twsrc%5Etfw">#9を開催したよーヘ</a>(^o^)ノ
                <a href="https://twitter.com/hashtag/shinosakarb?src=hash&amp;ref_src=twsrc%5Etfw">#shinosakarb</a> -
                Murajun&#39;s Style<a href="http://t.co/Sj9qyOQ7Yt">http://t.co/Sj9qyOQ7Yt</a></p>&mdash; むらじゅん (@murajun1978)
            <a href="https://twitter.com/murajun1978/status/526376717791678464?ref_src=twsrc%5Etfw">2014年10月26日</a>
        </blockquote>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <br>
        <!-- 4 -->
        <blockquote class="twitter-tweet" data-lang="ja">
            <p lang="ja" dir="ltr">あさってのShinosaka.rbでTime Recorderをみんなで作るんだけど、シンプルなのでちょうどいい。できる人には物足りないだろうけどね、、</p>&mdash;
            むらじゅん (@murajun1978) <a href="https://twitter.com/murajun1978/status/745648623392808960?ref_src=twsrc%5Etfw">2016年6月22日</a>
        </blockquote>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <br>
        <!-- 5 -->
        <blockquote class="twitter-tweet" data-lang="ja">
            <p lang="ja" dir="ltr">reactとPhoenixしてたけど、rubyに乾杯<a href="https://twitter.com/hashtag/shinosakarb?src=hash&amp;ref_src=twsrc%5Etfw">#shinosakarb</a>
                <a href="http://t.co/h83RarBdT7">pic.twitter.com/h83RarBdT7</a></p>&mdash; Yoshito Tanaka (@tanaka4410) <a href="https://twitter.com/tanaka4410/status/655300421821448192?ref_src=twsrc%5Etfw">2015年10月17日</a>
        </blockquote>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <br>
        <h3><span id="Ruby関西"><a href="https://rubykansai.doorkeeper.jp/" target="_new">Ruby関西</a></h3>
        <br>
        <h4><b>勉強会名</b></h4>
        <p>Ruby関西 勉強会</p>
        <p>#発表会形式 #交流会形式</p>
        <br>
        <h5><b>勉強会概要</b></h5>
        <p>Ruby関西 勉強会は3ヶ月に1回程度開催される、発表形式のRuby勉強会です。初心者向けの講座も毎回含まれているので、初心者から中級者までおススメの勉強会です。</p><br>
        <p>また、参加人数が比較的多く懇親会も開かれるため、Rubyエンジニアとの交流もできます。<br>※大阪以外でも京都・神戸でも開催されれますが、大阪が開催多いためこちらで紹介しています。</p>
        <br>
        <h5><b>コミュニティの雰囲気が伝わるツイート</b></h5>
        <!-- 1 -->
        <blockquote class="twitter-tweet" data-conversation="none" data-lang="ja">
            <p lang="ja" dir="ltr">このスライドの「本当にあった怖い話」みたいな体験があるかないかで、勉強に対するモチベーションも大きく変わってくると思うんですよね〜。<br>プロを目指す人のための例外処理（再）入門 /
                <a href="https://twitter.com/hashtag/rubykansai?src=hash&amp;ref_src=twsrc%5Etfw">#rubykansai</a> 2018-01-13 -
                Speaker Deck <a href="https://t.co/30kqFCbqMF">https://t.co/30kqFCbqMF</a></p>&mdash; Junichi Ito (伊藤淳一)
            (@jnchito) <a href="https://twitter.com/jnchito/status/1057400871162540033?ref_src=twsrc%5Etfw">2018年10月30日</a>
        </blockquote>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <br>
        <!-- 2 -->
        <blockquote class="twitter-tweet" data-lang="ja">
            <p lang="ja" dir="ltr">本日の登壇資料です<a href="https://t.co/sND8LQpjCZ">https://t.co/sND8LQpjCZ</a><br> <a href="https://twitter.com/hashtag/rubykansai?src=hash&amp;ref_src=twsrc%5Etfw">#rubykansai</a></p>&mdash;
            わかば (@wakaba260yen) <a href="https://twitter.com/wakaba260yen/status/891191857165680641?ref_src=twsrc%5Etfw">2017年7月29日</a>
        </blockquote>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <br>
        <!-- 3 -->
        <blockquote class="twitter-tweet" data-lang="ja">
            <p lang="ja" dir="ltr">遅ればせながら、第81回 Ruby関西 勉強会 の発表資料です。 <a href="https://t.co/r1EGiLyp85">https://t.co/r1EGiLyp85</a>
                <a href="https://twitter.com/hashtag/rubykansai?src=hash&amp;ref_src=twsrc%5Etfw">#rubykansai</a></p>&mdash;
            つじたさとみ (@satomicchy) <a href="https://twitter.com/satomicchy/status/1021767889194430464?ref_src=twsrc%5Etfw">2018年7月24日</a>
        </blockquote>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <br>
        <!-- 4 -->
        <blockquote class="twitter-tweet" data-lang="ja">
            <p lang="ja" dir="ltr">今日お話した資料 <a href="https://twitter.com/hashtag/rubykansai?src=hash&amp;ref_src=twsrc%5Etfw">#rubykansai</a>
                / Rails 5.1.0.beta1はどのようにモダンなJavaScript開発を実現しているのか？ <a href="https://t.co/rCWhx4KqLj">https://t.co/rCWhx4KqLj</a></p>&mdash;
            ちまめ@rito (@chimame_rt) <a href="https://twitter.com/chimame_rt/status/837893664537915392?ref_src=twsrc%5Etfw">2017年3月4日</a>
        </blockquote>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></p>
        <br>
        {% include link-itstudy.html %}
        <br>
        {% include share-bar.html %}
    </div>
</section>