---
layout: page
title: Pythonの練習問題の答えをすぐ見てしまう方へ！Pythonの演習問題を一緒に解くセミナー/本町オープンソースラボ -大阪でのIT勉強会多数開催！大阪本町のエンジニア向けコミュニティスペース-
description: Webサイトにある演習問題や練習問題にチャレンジするけれど、結局すぐ答えを見て力がつかない...というのを繰り返している人に自分でコードを書き始められるようにサポートをするセミナーです。
permalink: /contents/study/python_exercises/
---

<!-- Slider Start -->

<section id="global-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1>Pythonの練習問題の答えをすぐ見てしまう方へ！Pythonの演習問題を一緒に解くセミナー</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- User Section Start -->
<section id="contact-form">
  <div class="container">
    {% include share-bar.html %}
    <br>
    <p>Pythonの基礎や基本文法は一通り学習したけれど、<b>いざ自分でコードを書こうとすると手が止まってしまう</b>、そんな方向けの演習セミナーです。
    考え方や基本の部分を講師が解説を行い、自分で演習問題にチャレンジしてもらいます。
    わからないところは答えをすぐ見るのではなく、講師にサポートしてもらうことで自分でコードを書く力が養われます。</p>
    <br>
    <p>
    <font size="5" color="red">Webサイトにある演習問題や練習問題にチャレンジするけれど、結局すぐ答えを見て力がつかない...。というのを繰り返している人に、自分でコードを書き始められるようにサポートをするセミナーです。</font>
    </p>
    <br>
    <p><b>目次</b></p>
    <li><a href="#Pythonの演習問題を一緒に解くセミナーの対象者と非対象者">Pythonの演習問題を一緒に解くセミナーの対象者と非対象者</a></li>
    <li><a href="#Pythonの演習問題を一緒に解くセミナーの内容">Pythonの演習問題を一緒に解くセミナーの内容</a></li>
    <li><a href="#Pythonの演習問題を一緒に解くセミナーの申し込みフォーム">Pythonの演習問題を一緒に解くセミナーの申し込みフォーム</a></li>
    <li><a href="#Udemyの動画学習でもPythonを勉強しよう！">Udemyの動画学習でもPythonを勉強しよう！</a></li>
    <br>
    <h2><span id="Pythonの演習問題を一緒に解くセミナーの対象者と非対象者">Pythonの演習問題を一緒に解くセミナーの対象者と非対象者</span></h2>
    <br>
    <h3>対象者</h3>
    <li><a href="https://hommachi-open-source-lab.github.io/contents/study/python_seminar_for_beginners/">Python入門セミナー</a>を受講したが、自分でコードを書き始められない方</li>
    <li>Pythonの練習問題をやっても、すぐ答えを見てしまい実力がついている実感がない方</li>
    <br>
    <h3>非対象者</h3>
    <br>
        <li>Pythonの基本文法が理解できていない方</li>
        <p>※当日、Pythonの基本文法に関する解説はありません。</p>
        <li>
          <font size="3" color="red">Python3の環境構築（Anaconda＋VScode）が当日までにできていない方</font>
        </li>
        <p>Python3の環境構築（Anaconda＋VScode）とは具体的に以下ページのPythonセミナー第0章が完了している必要があります。</p>
        <h4>→ <a href="https://scrapbox.io/PythonOsaka/Python%E3%82%BB%E3%83%9F%E3%83%8A%E3%83%BC"
            rel="nofollow">こちらのPythonセミナー第0章</a></h4>
        <p>※Pythonの環境構築がご自身でできない場合は、まずは環境構築セミナーへご参加下さい。</p>
        <h4>→ <a href="/contents/study/buld_python_env/">【環境構築できるまでサポート！】Pythonインストールと環境構築セミナー（mac/windows）</a></h4>
        <br>
    <br>
    <h2><span id="Pythonの演習問題を一緒に解くセミナーの内容">Pythonの演習問題を一緒に解くセミナーの内容</span></h2>
    <br>
    <h3>日程</h3>
    <p>日程調整中／アルゴリズムをPythonで実装する演習</p>
    <h3>会場</h3>
    <p>本町オープンソースラボ</p>
    <p>住所：大阪市中央区瓦町3-4-9 801（株式会社ソウ内）</p>
    <h3>内容</h3>
    <div class="panel panel-default">
      <div class="panel-heading">アルゴリズムをPythonで実装する演習</div>
      <div class="panel-body">
      <p>プログラミングの基本となるアルゴリズムをPythonで実装する演習になります。
      ソート（並び替え）とサーチ（検索）を自分のコードで実装していきます。
      コードを組み立てていく練習をしつつ、アルゴリズムを自分で実装していく中でアルゴリズムへの理解も深まります。</p>
      <li>ソート（バブルソート、クイックソート、ヒープソート）</li>
      <li>サーチ（リニアサーチ、バイナリサーチ、ハッシュテーブル）</li>
      <br>
      参考: <a href="https://qiita.com/drken/items/f909b79ee03e679c7142" target="_blank" rel="nofollow">アルゴリズムとは何か!?</a>
      </div>
    </div>
    <h3>持ち物</h3>
    <li>ノートPC（windos/mac）</li>
    <h3>講師</h3>
        <div class="panel panel-primary">
          <div class="panel-heading">飯坂 剛一(いいさか ごういち)氏</div>
          <div class="panel-body">
            <p>(株)システム計画研究所を経て、91年に日本クレイ(株)に入社。
              ハイエンドな計算機システムを利用できる恵まれた環境下で水を得た魚のように過ごす。
              ベクトルマシンからクラスタシステム、オンプレミスからクラウドといったパラダイムシフトを経験しつつ2014年からHPCソリューションズに所属。
              オープンソースの啓蒙と実業務への展開をしている日々。</p>
            <p>1998年にオライリー・ジャパンから発売されたPython入門の翻訳者の一人。</p>
            <a target="_blank"
              href="https://www.amazon.co.jp/gp/product/4900900559/ref=as_li_tl?ie=UTF8&camp=247&creative=1211&creativeASIN=4900900559&linkCode=as2&tag=sou008-22&linkId=feda0f46d4cc63a857da87a95282e68d"><img
                border="0"
                src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=JP&ASIN=4900900559&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=sou008-22"></a><img
              src="//ir-jp.amazon-adsystem.com/e/ir?t=sou008-22&l=am2&o=9&a=4900900559" width="1" height="1" border="0" alt=""
              style="border:none !important; margin:0px !important;" />
          </div>
        </div>
        <div class="panel panel-primary">
          <div class="panel-heading">坪田 遼 氏</div>
          <div class="panel-body">
            <p>ソフトウェア開発者。主にCAE（流体、構造）やCAD関連のソフトウェア開発、ウェブサービス運営、技術サポートを行っています。</p>
          </div>
        </div>
    <h3>参加費</h3>
    <p>¥3,000（会場払い）</p>
    <h3>主催</h3>
    <p><a href="https://sou-co.jp">株式会社ソウ</a></p>
    <br>
    <h2><span id="Pythonの演習問題を一緒に解くセミナーの申し込みフォーム">Pythonの演習問題を一緒に解くセミナーの申し込みフォーム</span></h2>
    <br>
    <p>
      <font color="red">*</font>印は必須項目です。
    </p>
    <!-- Google formの処理 -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>
          <center>Pythonの演習問題を一緒に解くセミナーの申し込みフォーム</center>
        </h3>
      </div>
      <div class="panel-body">
        <script type="text/javascript">var submitted = false;
        </script>
        <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;"
          onload="if(submitted){window.location='/contents/study/thanks_python_exercises/';}">
        </iframe>
        <!-- フォームアクションの追加　formResponseで検索 -->
        <form
          action="https://docs.google.com/forms/d/e/1FAIpQLSeNOHK28zvin1t9A3JgWlsqMqPNNTnE4Hln04RcylIgRraL2A/formResponse"
          method="POST" id="ss-form" class="form-horizontal" target="hidden_iframe" onsubmit="submitted=true">
          <!-- メールアドレス -->
          <div class="form-group">
            <h4>
              <label for="email" class="control-label col-sm-4">
                <font color="red">*</font>メールアドレス
              </label>
            </h4>
            <div class="col-sm-8">
              <input id="email" type="text" name="emailAddress" class="form-control" placeholder="example@mail.co.jp"
                required>
            </div>
          </div>
          <!-- 日程 -->
          <div class="form-group">
            <h4>
              <label for="nittei" class="control-label col-sm-4">
                <font color="red">*</font>日程
              </label>
            </h4>
            <div class="col-sm-8">
              <div class="form-check">
                <input class="form-check-input" id="nittei" type="radio" name="entry.403502960"
                  value="上記日程は都合が悪いが、参加できる日程があれば参加したい">
                <label class="form-check-label" for="nittei">
                  上記日程は都合が悪いが、参加できる日程があれば参加したい
                </label>
                　</div>
            </div>
          </div>
          <!-- 氏名 -->
          　<div class="form-group">
            <h4>
              <label for="shimei" class="control-label col-sm-4">
                <font color="red">*</font>氏名
              </label>
            </h4>
            <div class="col-sm-8">
              <input class="form-control" id="shimei" type="text" name="entry.568725314" placeholder="名前を記載ください。"
                required>
            </div>
          </div>
          <!-- ノートPCのOS -->
          <div class="form-group">
            <h4>
              <label for="os" class="control-label col-sm-4">
                <font color="red">*</font>
                ノートPCのOS
              </label>
            </h4>
            <div class="col-sm-8">
              <div class="form-check">
                <input class="form-check-input" id="os" type="radio" name="entry.1483963861" value="Windows" required>
                <label class="form-check-label" for="os">
                  Windows
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" id="os" type="radio" name="entry.1483963861" value="Mac">
                <label class="form-check-label" for="os">
                  Mac
                </label>
              </div>
            </div>
          </div>
          <!-- 緊急連絡先 -->
          <div class="form-group">
            <h4>
              <label for="contact" class="control-label col-sm-4">
                <font color="red">*</font>
                緊急連絡先（イベント当日等連絡の取れる番号を記載ください）
              </label>
            </h4>
            <div class="col-sm-8">
              <input class="form-control" id="contact" type="text" name="entry.1622576043" placeholder="090-XXXX-XXXX"
                required>
            </div>
          </div>
          <!-- 連絡事項 -->
          <div class="form-group">
            <h4>
              <label for="other" class="control-label col-sm-4">
                連絡事項ありましたら、こちらに記載ください。
              </label>
            </h4>
            <div class="col-sm-8">
              <input class="form-control" id="other" type="text" name="entry.1962948915">
            </div>
          </div>
          <!-- 送信ボタン -->
          <div class="form-group">
            <div class="col-sm-offset-4 col-sm-8">
              <button type="submit" name="button" value="送信" class="btn btn-primary btn-lg">
                送信
              </button>
            </div>
          </div>
          　
        </form>
      </div>
    </div>
    <!-- Google formの処理ここまで -->
    <br><br>
    {% include link-udemy_python.html %}
    <br>
    {% include share-bar.html %}
  </div>
</section>