---
layout: page
title: 【グループワークで学ぶ】大阪開催！Pythonによる機械学習とDeep Learning入門セミナー/本町オープンソースラボ -大阪でのIT勉強会多数開催！大阪本町のエンジニア向けコミュニティスペース-
description: これから機械学習の入門をしたい人で対面セミナーを探している人向けの大阪で開催のセミナー案内です。
permalink: /contents/study/python_seminar_machinelearning/
---

<!-- Slider Start -->
<section id="global-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1>【グループワークで学ぶ】大阪開催！Pythonによる機械学習とDeep Learning入門セミナー</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- User Section Start -->
<section id="contact-form">
    <div class="container">
        {% include share-bar.html %}
        <br>
        <p>これから機械学習の入門をしたい人で対面セミナーを探している人向けのセミナーです。<b>世の中にはAI、機械学習やDeep Learningの勉強会やセミナーの情報が溢れていて、
        これから入門したい人にとってはどの勉強会やセミナーに参加すればいいのか、正直わかりにくいです。</b></p>
        <br>
        <p>対面セミナーは勉強会からセミナーまで多種多様にありますが、<font color="red">企業が提供するセミナーは数十万するものもあり、もし参加して自分に合わなかった場合、入門に適切とは言えないでしょう。</font></p>
        <br>
        <p>また有志で行われている勉強会は、入門を俯瞰的に扱うことは少なく、興味のある分野を深掘って皆で学習を進めていくスタイルが多いです。そのため数学の勉強会や書籍の読書会などが多く、これから入門する人が入ってもついて行くのが大変です。</p>        
        <br>
        <p>そのため、今回機械学習の入門者向けに最適なセミナーを企画しました。<br><b>今回、機械学習の入門向けのセミナーで重視した点は3つです。</b></p>
        <br>
        <div class="panel panel-default">
            <div class="panel-heading">現役の機械学習エンジニアが講師</div>
                <div class="panel-body">
                    <p>機械学習の技術は日々変わって行きます。現役の機械学習エンジニアが講師をすることで、現場の感覚を体感することができます。<b>実際の現場で起こっている事を扱っているエンジニアから直接講義を受ける機会が重要と考えます。</b></p>
                </div>
            <div class="panel-heading">グループワークで学んだ知識を定着しやすくする</div>
            <div class="panel-body">
                <p>一方通行のセミナーや講義では、その日は理解しても1週間もすれば忘れてしまう可能性があります。グループワークでチームのみんなで一緒に頭と手を動かす事で学習効率が高まります。また、これから一緒に機械学習を学んでいく仲間もできるでしょう。</p>
            </div>
            <div class="panel-heading">参加しやすい金額設定にする</div>
            <div class="panel-body">
                <p>いきなり数十万円を払って、しっくり来なかったらショックです。<b>入門というからには、自分に機械学習というジャンルが合っているのか判断したいということも含まれると思います。</b>そのため、入門にふさわしく書籍を数冊買う金額で設定致しました。</p>
            </div>
        </div>
        <br>
        <p>
            <font size="5" color="red">本を数冊買っても、有志の勉強会に行っても結局よくわからなかった方へ。機械学習の入門部分を一緒に突破していきましょう！</font>
        </p>
        <br>
        <p><b>目次</b></p>
        <li><a href="#大阪開催！Pythonによる機械学習とDeep Learning入門セミナーの概要">大阪開催！Pythonによる機械学習とDeep Learning入門セミナーの概要</a></li>
        <li><a href="#大阪開催！Pythonによる機械学習とDeep Learning入門セミナーの対象者と非対象者と前提">大阪開催！Pythonによる機械学習とDeep Learning入門セミナーの対象者と非対象者と前提</a></li>
        <li><a href="#大阪開催！Pythonによる機械学習とDeep Learning入門セミナーの内容">大阪開催！Pythonによる機械学習とDeep Learning入門セミナーの内容</a></li>
        <li><a href="#大阪開催！Pythonによる機械学習とDeep Learning入門セミナーの申し込みフォーム">大阪開催！Pythonによる機械学習とDeep Learning入門セミナーの申し込みフォーム</a></li>
        <li><a href="#Udemyの動画学習でもPythonを勉強しよう！">Udemyの動画学習でもPythonを勉強しよう！</a></li>
        <br>
        <h2><span id="大阪開催！Pythonによる機械学習とDeep Learning入門セミナーの概要">大阪開催！Pythonによる機械学習とDeep Learning入門セミナーの概要</span></h2>
        <p>このセミナーではPythonのデータ分析に必要なライブラリ（numpy、pandau、scikit learn）の基礎を学習し、scikit learnとtensorflowを使って機械学習に入門します。
        </p>
        <br>
        <h2><span id="大阪開催！Pythonによる機械学習とDeep Learning入門セミナーの対象者と非対象者">大阪開催！Pythonによる機械学習とDeep Learning入門セミナーの対象者と非対象者</span></h2>
        <br>
        <h3>対象者</h3>
        <li>これからPythonでデータ分析を始めようとされる方</li>
        <br>
        <h3>非対象者</h3>
        <li>プログラミングが未経験で、Pythonをこれから始めるという方</li>
        <p>※pythonの基本的な文法がわかっていることが前提となります。</p>
        <li>
            <font size="3" color="red">Python3の環境構築（Anaconda）が当日までにできていない方</font>
        </li>
        <br>
        <h3>前提</h3>
        <li>Pythonの基本的な文法がわかっていること</li>
        <li>高校で履修する数学程度の知識</li>
        <li>AnacondaでPython3がインストールできていること</li>
        <br>
        <h2><span id="大阪開催！Pythonによる機械学習とDeep Learning入門セミナーの内容">大阪開催！Pythonによる機械学習とDeep Learning入門セミナーの内容</span></h2>
        <br>
        <h3>日程</h3>
        <p>下記申込みフォームの日程をご確認下さい。</p>
        <h3>会場</h3>
        <p>本町オープンソースラボ</p>
        <p>住所：大阪市中央区瓦町3-4-9 801（株式会社ソウ内）</p>
        <h3>内容</h3>
        <div class="panel panel-default">
            <div class="panel-heading">セミナー 導入編</div>
            <div class="panel-body">
                <li>Pythonとデータサイエンス</li>
            </div>
            <div class="panel-heading">セミナー 第一部 基礎編</div>
            <div class="panel-body">
                <li>Jupyter Notebook の使い方</li>
                <li>復習　Python</li>
                <li>行列計算ライブラリ　 numpy 入門</li>
                <li>データ分析ライブラリ　pandas 入門</li>
                <li>データの可視化について</li>
                <li>データベースSQLiteとpandasの連携</li>
                <li>グループワーク :機械学習のために必要なデータの前処理をやろう</li>
            </div>
            <div class="panel-heading">セミナー 第二部　実践編</div>
            <div class="panel-body">
                <li>機械学習ライブラリ　scikit-learn入門</li>
                <li>グループワーク:予測問題にチャレンジ</li>
                <li>グループワーク:ディープラーニングライブラリ　tensorflowで分類問題をとこう</li>
            </div>
            <div class="panel-heading">セミナー 第三部　ディスカッション</div>
            <div class="panel-body">
                <li>それぞれが業務で利用していくために</li>
            </div>
        </div>
        <h3>持ち物</h3>
        <p>ノートPC（windos/mac）</p>
        <h3>講師</h3>
        <div class="panel panel-default">
            <div class="panel-heading">株式会社スクラムサイン 代表取締役　北村 友和 氏</div>
            <div class="panel-body">
                <p>2015年より機械学習アプリケーションの開発および企業内にてデータ分析チームの立ち上げ支援を行う。
                数学とプログラミングのコミュニティ「Math & Coding」主催。
                コミュニティを通じて機械学習およびデータ分析を行う人材の育成に力を入れている。</p> 
                <p><a href="http://scrumsign.com" target="_brank" rel=”nofollow”>株式会社スクラムサインのWebサイトはこちら</a></p>
                <p><a href="https://math-coding.connpass.com/" target="_brank" rel=”nofollow”>Math & CodingのWebサイトはこちら</a></p>
            </div>
        </div>
        <h3>参加費</h3>
        <p>¥10,000（会場払い）</p>
        <h3>主催</h3>
        <p><a href="https://sou-co.jp">株式会社ソウ</a></p>
        <h3>運営協力</h3>
        <p><a href="https://math-coding.connpass.com/" target="_brank" rel=”nofollow”>Math & Coding</a></p>
        <br>
        <h2><span id="大阪開催！Pythonによる機械学習とDeep Learning入門セミナーの申し込みフォーム">大阪開催！Pythonによる機械学習とDeep Learning入門セミナーの申し込みフォーム</span></h2>
        <br>
        <p><a href="https://docs.google.com/forms/d/e/1FAIpQLScHT3VCZgkYvkkOn7ghbdR3WZaDGDTexZ2jlqmYR0hknSHCuQ/viewform">フォームが上手く送信できない場合はこちらをクリックして送信下さい。</a></p>
        <br>
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScHT3VCZgkYvkkOn7ghbdR3WZaDGDTexZ2jlqmYR0hknSHCuQ/viewform?embedded=true"
            width="640" height="1609" frameborder="0" marginheight="0" marginwidth="0">読み込んでいます...</iframe>
        {% include link-udemy_python.html %}
        <br>
        {% include share-bar.html %}
    </div>
</section>