---
layout: page
title: 【初心者必見！】初めてIT勉強会に参加する時に気をつける事/本町オープンソースラボ -大阪でのIT勉強会多数開催！大阪本町のエンジニア向けコミュニティ-
description: IT勉強会に参加したことが無い初心者エンジニアが勉強会に参加するメリットや注意することを紹介します。これでIT勉強会に楽しく参加しよう！
permalink: /contents/study/studygroup_first/
---

<!-- Slider Start -->
<section id="global-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1>【初心者必見！】初めてIT勉強会に参加する時に気をつける事</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- User Section Start -->
<section id="contact-form">
    <div class="container">
        {% include share-bar.html %}
        <br>
        <p>まだIT勉強会なるものに参加したことがなくて、このように思ってませんか？</p>
        <p><b>・初心者はIT勉強会は参加した方がいいのか？<br>
                ・IT勉強会参加してみたいけど、種類が多くてどれに行けばいいのかわからない<br>
                ・IT勉強会参加することを決めたけど、ちゃんと付いていけるのか心配</b></p>
        <p>この記事はIT勉強会に行った事が無い人向けに、参加のメリットから気をつける事をまとめています。<br>読み終わる頃にはIT勉強会に行きたくなっているでしょう。</p>
        <br>
        <p><b>目次</b></p>
        <li><a href="#初心者がIT勉強会に参加するメリット">初心者がIT勉強会に参加するメリット</a></li>
        <li><a href="#初心者に合うIT勉強会のジャンルを理解しよう">初心者に合うIT勉強会のジャンルを理解しよう</a></li>
        <li><a href="#初心者が参加するIT勉強会を選ぶ時に気をつける事">初心者が参加するIT勉強会を選ぶ時に気をつける事</a></li>
        <li><a href="#IT勉強会を探すサイト・ツールのお勧め3つ">IT勉強会を探すサイト・ツールのお勧め3つ</a></li>
        <li><a href="#Q＆A">Q＆A</a></li>
        <li><a href="#まとめ">まとめ</a></li>
        <li><a href="#言語別・エリア別のおすすめIT勉強会一覧">言語別・エリア別のおすすめIT勉強会一覧</a></li>
        <br>
        <h2><span id="初心者がIT勉強会に参加するメリット"><strong>初心者がIT勉強会に参加するメリット</strong></span></h2>
        <br>
        <img src="{{ site.baseurl }}/img/users/studygroup_1.jpg" alt="">
        <br>
        <br>
        <p>まず、初心者がIT勉強会に参加するメリットを紹介します。<br>この記事を見ている方はおそらく独学に近い形でプログラムの勉強をしているのではないでしょうか？</p>
        <p>プログラミングを初めて勉強する人で、なんでも1人で解決していくのは難しいので勉強会で刺激をもらったり、エンジニアの友人や先輩を作ってわからないところを一人で抱え込まないようにする環境が重要です。</p>
        <p>そのため、独学で勉強している初心者プログラマーはIT勉強会に行った方が習得が早いでしょう。<br>メリットをまとめます。</p>

        <h3>1.プログラミングを一緒にできる仲間や先輩ができる</h3>
        <p>一人でプログラミングを勉強していると、どうしてもわからなくて詰まってしまう所がでてきます。ベテランのエンジニアだと少し検索で調べたり、公式ドキュメントを検索して解決するのですが、初心者の場合はそうはいきません。</p>
        <p>詰まった時に声をかけられる人がいるかどうかは、初心者が挫折しないためにも重要です。</p>

        <h3>2.新しい知識、刺激が得られる</h3>
        <p>初心者の場合、何かの書籍やチュートリアルからまず取り組む事が多いです。そうすると、それ以外の知識はなかなか入ってこないため、勉強会で先輩プログラマーから新しい技術の話題やトピックスを聞けることは大きなメリットです。
        </p>
        <p>全て理解する必要は全く無いのですが、そういう技術やツールがあるのだと頭の片隅にあるだけで今後の成長の助けになります。</p>

        <h3>3.強制的にプログラムを書く時間が作れる</h3>
        <p>一人でやっていると、どうしても自分との戦いになります。何かを言い訳にして、プログラミングの勉強時間が取れないことはよくあります。</p>
        <p>強制的にIT勉強会の場所に行くことで勉強する時間を確保できるのはメリットです。</p>

        <h3>4.仕事につながるかも</h3>
        <p>初心者の段階ではまだ気にしなくてもいいですが、勉強会に参加することで一緒に仕事をするパートナーとであったり、クライアントから声がかかることもあります。</p>
        <p>初心者の段階から、IT勉強会に参加してネットワークを広げておくことはメリットです。</p>
        <br>
        <h2><span id="初心者に合うIT勉強会のジャンルを理解しよう"><strong>初心者に合うIT勉強会のジャンルを理解しよう</strong></span></h2>
        <br>
        <img src="{{ site.baseurl }}/img/users/studygroup_2.jpg" alt="">
        <br>
        <br>
        <p>IT勉強会と行っても様々なジャンルがあります。ここで言うジャンルとはPythonとかRubyというように言語別というものではなく、講義形式のハンズオンやLTなど発表がが中心のものなど、自分の目的に照らし合わせないと全くついていけない可能性があります。
        </p>

        <h3>1.講義形式（ハンズオン）</h3>
        <br>

        <h4><b>勉強会形式の概要</b></h4>
        <p>講義形式（ハンズオン）は、PCを持ち込んで講師役の方がサンプルコードを一緒に動かすようにする形式になります。</p>
        <br>
        <h4><b>オススメの参加目的</b></h4>
        <p>これから新しく取り組む言語やフレームワークなど相場観を掴みたい時にオススメです。逆に講義内容やハンズオン内容以外の事の質問などはあまりする時間が無いと考えたほうが良いでしょう。</p>
        <h3>2.読書会形式</h3>
        <br>
        <h4><b>勉強会形式の概要</b></h4>
        <p>読書会形式はある書籍をみんなで読み進めていく形式になります。書籍を勉強しようとして買ったが一人ではなかなか読み進められなかったり、難しくて読み解け無い場合は勉強会でみんなで議論しながら読み進めると理解が進みやすいです。
        </p>
        <br>
        <h4><b>オススメの参加目的</b></h4>
        <p>その書籍を読み進めたい場合はもちろん、書籍で取り扱っている言語やテーマを掘り下げて勉強したい時にオススメです。議論をしながら読み進める事で幅広く知識の習得が可能です。</p>
        <h3>3.発表会形式</h3>
        <br>
        <h4><b>勉強会形式の概要</b></h4>
        <p>発表会形式はLT（ライトニングトーク）と呼ばれる5分程度の発表から、30分〜1時間程度の発表を聞くスタイルになります。</p>
        <br>
        <h4><b>オススメの参加目的</b></h4>
        <p>普段の自分では調べないような新しいテーマやネタ、何か新しい刺激が欲しい、他の人がどんなことをやっているのか知りたいなど、知識の幅を広げたい時にオススメです。</p>
        <br>
        <h3>4.もくもく会形式</h3>
        <br>
        <h4><b>勉強会形式の概要</b></h4>
        <p>もくもく会形式は、みんなで集まってそれをぞれ自分のやりたい作業をこなす形式になります。今日何をやるかを最初に宣言して、最後にどんなことをやったのかを共有する形式が多いです。</p>
        <br>
        <h4><b>オススメの参加目的</b></h4>
        <p>自分でWebサービスやアプリ、スクリプトなど作りたいものがあって、それを進めて行くときにオススメです。困った時に周りに声をかける事で、いいアドバイスがもらえることもあるでしょう。ただ、お金を払って教えて貰うスクールではないので、コミュニケーションを適切に取りながら常識の範囲内で振る舞わないとコミュニティから嫌われる可能性があります。
        </p>
        <br>
        <h3>5.交流会形式</h3>
        <br>
        <h4><b>勉強会形式の概要</b></h4>
        <p>交流会形式はお菓子や食べ物を食べたり、ビールや飲み物など飲みながら交流をメインにする形式になります。単体で開かれるよりは、何かの勉強会の後に懇親会として開かれることが多いです。</p>
        <br>
        <h4><b>オススメの参加目的</b></h4>
        <p>いろんなエンジニアと交流できるので、新しい人と交流したい人にオススメです。仕事という面でいくと、一緒に仕事をするパートナーや仕事を貰うクライアントと知り合う機会にもなりやすいです。</p>
        <br>
        <h3>6.ハッカソン形式</h3>
        <br>
        <h4><b>勉強会形式の概要</b></h4>
        <p>ハッカソン形式は週末の2日など指定された日程内で、発表に向けて開発を行う形式になります。</p>
        <br>
        <h4><b>オススメの参加目的</b></h4>
        <p>割と長時間拘束されて開発に時間を使うので、短期的に技術を伸ばしたい時にオススメの形式です。ただ、ある程度の技術が無いとチームの役割として開発に参加できなくなる場合もあります。そうなると、チームに貢献できてなくて、しかもやる事が無いということにもなりえます。また、チームで濃密な時間を過ごすので、今後一緒に仕事をするパートナーにめぐりあう機会になりやすいです。
        </p>
        <br>
        <h2><span id="初心者が参加するIT勉強会を選ぶ時に気をつける事"><strong>初心者が参加するIT勉強会を選ぶ時に気をつける事</strong></span></h2>
        <br>
        <img src="{{ site.baseurl }}/img/users/studygroup_3.png" alt="">
        <br>
        <h3>1.IT勉強会主催者側の目的を理解する</h3>
        <p>IT勉強会は主催者側も目的を持って運営しています。どういう目的で運営されている勉強会なのかを理解しておけば、思っていたものと違ったということは少なくなるでしょう。</p>
        <h4><b>何かのサービスの入り口に勉強会をしている。</b></h4>
        <p>資格の取得や、サービスのPRを兼ねて勉強会を開いているパターン。勉強会の終わりに何かの告知がある。このタイプの勉強会は継続して勉強会に参加するのではなく、何かのサービスの入り口になってますので、初心者が勉強目的で参加するにはあまり適さないでしょう。
        </p>
        <br>
        <h4><b>求人の窓口を勉強会にしている。</b></h4>
        <p>企業開催の勉強会に多いですが、エンジニアのリクルートを目的として勉強会の開催をしているパターンがあります。ただ、企業によってその期待度合いは違っていて、ゆるやかなコミュニティから仕事したい人の接点ができればいいなというくらいが多い印象です。
        </p>
        <br>
        <h4><b>技術の勉強やコミュニティ内の交流</b></h4>
        <p>技術の勉強やコミュニティ内の人の交流に目的にしているパターンです。基本的に無料か1000円くらいまでの参加費で運用されています。</p>
        <br>

        <h3>2.設備を確認する</h3>
        <p>基本的にPCは持ち込むので、気になるのはWifiが使えるのかと電源確保できるのかが気になるポイントになります。Wifiは無い場合は自前のポケットWifiかスマホのデザリングを使う必要があります。電源は提供されることが多いですが、座っている場所から電源まで遠いと電源供給できない場合もあります。
        </p>

        <h3>3.費用を確認する</h3>
        <p>会場費や運営費をカンパするために500円〜1000円程度を集めるパターンが多いです。企業開催の場合は無料で、懇親会の食事までつくこともあります。体系立てて研修のような形を取っているセミナーは有料で数万円〜数十万円する場合もあります。
        </p>
        <p>ここは学びたい内容が体系立てて学べるかどうかで判断すれば良いと考えます。最初のうちは1000円程度までの勉強会で学んで自分に何が足りていないのかを理解してから、学習にそれなりの費用をかけるかどうかを検討しても良いでしょう。
        </p>

        <h3>4.参加者としてのマナーに注意する</h3>
        <p>一般社会のマナーを守っていれば、気をつけるほどのことは無いのですが、2点だけ注意した方が良い点を紹介します。</p>
        <br>
        <h4><b>コミュニティに自分の要望ばかりを求めすぎない</b></h4>
        <p>1000円までの参加費で運営されている勉強会コミュニティはおおよそ有志で運営されています。費用を払って教えて貰うスクールとは違うので、わからない事を聞いてばっかりではコミュニティから敬遠されてしまいます。コミュニケーションを取りながら、自分が勉強会コミュニティに何か貢献できることは無いかを考えながら参加するのが良いでしょう。
        </p>
        <p>どうしても自分のわからない所を聞きたい事にだけに時間を使いたい場合は、プログラミングスクールを検討したほうが良いでしょう。</p>
        <br>

        <h4><b>勧誘や営業活動を目的に参加しない</b></h4>
        <p>他の参加者の立場になれば明白ですが、何かの勧誘や営業活動を受けるためにIT勉強会に参加している人はいないはずです。そのため、自分のコミュニティへの勧誘や自社商品の営業活動を大々的にすることはNGです。</p>

        <p>主催者とコミュニケーションを取った上で紹介させてもらうのであれば問題ありません。コミュニティに参加している人が嫌な思いになるような紹介の仕方は辞めましょう。</p>
        <br>

        <h2><span id="IT勉強会を探すサイト・ツールのお勧め3つ"><strong>IT勉強会を探すサイト・ツールのお勧め3つ</strong></span></h2>

        <p>IT勉強会を探すサイトもいくつもあるのですが、この3つでほとんど事足りますのでたくさん登録する必要はありません。</p>

        <h3><a href="https://techplay.jp/">TECH PLAY(旧 dots.) </a></h3>
        <p>後で紹介するconnpassやDoorkeeperに登録されているイベント情報をまとめてくれているサイトです。そのため、ここだけ見ておけば大体のイベントは押えられます。ただ、時々tech
            playに登録されていないイベント情報があるので、connpassとdoorkeeperのサイトも見ておくと漏れが無いと思います。</p>

        <h3><a href="https://connpass.com/">connpass</a></h3>
        <p>単体のイベント情報サイトとしてはIT勉強会情報がもっとも多く、IT以外のイベントが少ないサイトになります。</p>

        <h3><a href="https://www.doorkeeper.jp/">Doorkeeper</a></h3>
        <p>2016年にイベント作成側が有料になってから、コミュニティが少し減ったのですが利用者としてはサイトに広告が表示されないこともあった使いやすいサイトになります。</p>

        <h2><span id="Q＆A"><strong>Q＆A</strong></span></h2>
        <img src="{{ site.baseurl }}/img/users/studygroup_4.png" alt="">

        <h3>Q1.名刺は持っていった方がいい？</h3>
        <br>
        <p>A1.できれば持っていた方が良いでしょう。懇親会や交流する時間があれば名刺交換をすることがあります。会社員の人は企業の名刺か個人の名刺を渡すかで迷うかもしれませんが、仕事として参加していない限りは個人の名刺の方が良いでしょう。※ただ、このあたりは企業によって意見が分かれると思います。
        </p>

        <h3>Q2.懇親会は参加した方がいい？</h3>
        <br>
        <p>A2.交流してネットワークを広げたいならぜひ参加した方が良いでしょう。逆に、30分でも1時間でもプログラムを書き進めたい場合だと、懇親会参加している場合ではないはずです。</p>

        <h3>Q3.強引な営業や勧誘を受けた場合はどうすればいい？</h3>
        <br>
        <p>A3.主催者から勉強会の最後に営業を受ける場合だと、興味無い場合は聞き流して帰りましょう。一方、参加者から個別に営業や勧誘を受けた場合は主催者に伝えることで、主催者側から注意を促してもらうのが良いでしょう。どちらにしても、自分に合わない勉強会コミュニティだと思えば、今後は参加しないで良いでしょう。
        </p>

        <h3>Q4.女性だけの勉強会もありますか？</h3>
        <br>
        <p>A4.はい、あります。プログラミングの勉強会は男性比率が80％以上のことが多いので、女性で参加しにくいと感じる方は女性限定のIT勉強会を探しましょう。数は多く無いですが、存在します。</p>

        <h2><span id="まとめ"><strong>まとめ</strong></span></h2>
        <br>
        <img src="{{ site.baseurl }}/img/users/studygroup_5.jpg" alt="">
        <br>
        <h3>初心者でとにかく力をつけたければ行くべし</h3>
        <br>
        <p>初心者で参加したことが無いので躊躇している人は、ぜひ勉強会に参加してみてください。
            全てが自分の思い通りの時間になることは無いので、今の自分に合う勉強会コミュニティを探すつもりでいくつか参加してみるのが良いでしょう。</p>

        <h3>お勧めは自分でつくりたいものを作りながら、もくもく会に通う</h3>
        <br>
        <p>勉強会コミュニティを上手く活用するコツは、自分のWebサービスやアプリを作り始めることです。実際に自分で作り始めると上手く行かない部分が出てきます。検索で調べて自分で解消しながら、どうしても解消できない部分を「もくもく会」に持ち込んで、アドバイスを貰います。その繰り返しをしていくと、自分で調べることで大体解決していくようになり開発をどんどん進めて行くことができます。
        </p>

        {% include link-itstudy.html %}
        <br>
        {% include share-bar.html %}
    </div>
</section>