---
layout: page
title: コミュニティの雰囲気がわかる！東京のおすすめPython勉強会/本町オープンソースラボ -大阪でのIT勉強会多数開催！大阪本町のエンジニア向けコミュニティスペース-
description: 東京で行われているおすすめのPython勉強会をコミュニティの雰囲気がわかりやすいように紹介しています。
permalink: /contents/study/tokyo_python_itstudy/
---

<!-- Slider Start -->
<section id="global-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1>東京のおすすめPython勉強会</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- User Section Start -->
<section id="contact-form">
    <div class="container">
        {% include share-bar.html %}
        <br>
        <p>TECK
            PLAYで愛知エリアでPythonのキーワードで勉強会を調べると133件登録がありました。（2019年3月現在）<br>単に検索キーワードが引っかかるようにpythonと入れているだけの勉強会や、特定の資格やサービスの営業的な勉強会もあるため、
            Python濃度が濃いおすすめ勉強会をピックアップしました。</p>
        <br>
        <p><b>目次</b></p>
        <li><a href="#IT勉強会への参加が初めてという初心者の方へ">IT勉強会への参加が初めてという初心者の方へ</a></li>
        <li><a href="#東京のPython勉強会コミュニティ紹介">東京のPython勉強会コミュニティ紹介</a></li>
        <ul>
            <li><a href="#朝活Python">朝活Python</a></li>
            <li><a href="#全人類がわかる統計学">全人類がわかる統計学</a></li>
            <li><a href="#Pythonもくもく会">Pythonもくもく会</a></li>
            <li><a href="#Pythonアルゴリズム勉強会">Pythonアルゴリズム勉強会</a></li>
            <li><a href="#Start Python Club">Start Python Club</a></li>
            <li><a href="#DjangoGirls Japan">DjangoGirls Japan</a></li>
            <li><a href="#「PythonとKerasによるディープラーニング」輪読会">「PythonとKerasによるディープラーニング」輪読会</a></li>
        </ul>
        <li><a href="#言語別・エリア別のおすすめIT勉強会一覧">言語別・エリア別のおすすめIT勉強会一覧</a></li>
        <li><a href="#Udemyの動画学習でもPythonを勉強しよう！">Udemyの動画学習でもPythonを勉強しよう！</a></li>
        <br>

        {% include link-studygroup_first.html %}

        <h2><span id="東京のPython勉強会コミュニティ紹介">東京のPython勉強会コミュニティ紹介</span></h2>
        <p>ひとつのコミュニティがハンズオン形式やもくもく会形式など、様々なジャンルの勉強会を開催しているため、自分の目的に合ったスタイルの勉強会を選ぶと良いでしょう。</p>
        <h3><span id="朝活Python"><a href="https://asakatupy.connpass.com/" target="_new">朝活Python</a></span></h3>
        <br>
        <h4><b>勉強会名</b></h4>
        <p>朝活Python</p>
        <p>#講義形式(ハンズオン) #もくもく会形式</p>
        <br>
        <h5><b>勉強会概要</b></h5>
        <p>朝、出勤前の時間を利用してPythonを勉強する珍しいタイプの勉強会で、朝の時間を有効活用したい方におすすめです。平日ほぼ毎日、7:00~8:30に開催されており、途中退場しても問題ありません。講座内容は日替わりで、初心者向けに入門編、基礎編など、中、上級者向けに機会学習編、簡単スクレイピングなど、12段階の講座で構成されています。windowsユーザ向けにwindows操作編の講座もあります。入門編の講座は10日に一回ほどの頻度で行われており、そちらではPythonの環境構築もフォローしてもらえます。</p>
        <br>
        <br>
        <h5><b>コミュニティの雰囲気が伝わるツイート</b></h5>
        <!-- 1 -->
        <blockquote class="twitter-tweet" data-lang="ja">
            <p lang="ja" dir="ltr">今日もゆるゆる、朝活Pythonぷよぐらみんぐやるでー</p>&mdash; えだ (@eda3__) <a
                href="https://twitter.com/eda3__/status/1091853644410966016?ref_src=twsrc%5Etfw">2019年2月3日</a>
        </blockquote>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <!-- 2 -->
        <blockquote class="twitter-tweet" data-lang="ja">
            <p lang="ja" dir="ltr">
                朝活Pythonもくもく会に参加してきました！やっぱ体系的に学べるのいいわ…独学だとどうしても偏りが出るし、何を学んで何を学んでないのかがあやふやで考え方がわからないし…<br>ゆるっと教えてくれる朝活スタイル、とても勉強になりました…
            </p>&mdash; ume/web&amp;python勉強中🔰 deploy or die. (@uyun125) <a
                href="https://twitter.com/uyun125/status/1057055099787210752?ref_src=twsrc%5Etfw">2018年10月29日</a>
        </blockquote>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <br>
        <h3><span id="全人類がわかる統計学"><a href="https://to-kei.connpass.com/event/122360/" target="_new">全人類がわかる統計学</a></span></h3>
        <br>
        <h4><b>勉強会名</b></h4>
        <p>【初心者歓迎】Python入門講座</p>
        <p>#講義形式(ハンズオン)</p>
        <br>
        <h5><b>勉強会概要</b></h5>
        <p>統計学の学習サイトや社会人向けITスクールの運営等を行う「全人類がわかる統計学」主催の勉強会です。上記勉強会のほかに、超初心者向けにの環境構築もカバーした講座から、上級まで幅広い講座が用意されていて、統計のことを幅広く学びたい方、自習より講義で学んでいきたい方におすすめです。勉強会としては参加費用が高めですが、専門家の講義を受けたいけれどスクールに入学するのは金銭的にハードルが高い、という方にとっては良い選択肢ではないでしょうか。</p>
        <br>
        <h5><b>コミュニティの雰囲気が伝わるツイート</b></h5>
        <!-- 1 -->
        <blockquote class="twitter-tweet" data-lang="ja">
            <p lang="ja" dir="ltr">
                全人類がわかる統計学がやってる統計学超入門【超基礎編】のセミナーなう。<br>まずは用語の解説から…<br>非常にわかりやすくて助かる。<br>やっぱり人から聞いてメモを取る方が私は勉強しやすいかな。お金かかるけどな…
            </p>&mdash; もっぱー (@mopper27af) <a
                href="https://twitter.com/mopper27af/status/1061127915474161665?ref_src=twsrc%5Etfw">2018年11月10日</a>
        </blockquote>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <br>
        <br>
        <h3><span id="Pythonもくもく会"><a href="https://mokupy.connpass.com/" target="_new">Pythonもくもく会</a></span></h3>
        <br>
        <h4><b>勉強会名</b></h4>
        <p>Pythonもくもく会</p>
        <p>#もくもく会形式 #交流会形式</p>
        <br>
        <h5><b>勉強会概要</b></h5>
        <p>月に一回週末、各自Pythonに関することでやりたいことをもってきて、もくもく取り組む勉強会ですが、参加者同士で情報共有したり、一緒に昼食をとり交流を深めることができるところが魅力です。
        初心者の方も大歓迎です。参加枠が25名と規模が比較的大きく、毎回たくさんの方が参加されています。参加費が無料なので、気軽に参加しやすいです。</p>
        <br>
        <h5><b>勉強会の進行</b></h5>
        ・11:00~ 自己紹介<br>
        ・11:30~ 開発開始<br>
        ・13:00~ ランチ<br>
        ・14:00~ もくもく開発<br>
        ・17:00~ 成果発表<br>
        <br>
        <h5><b>コミュニティの雰囲気が伝わるツイート</b></h5>
        <!-- 1 -->
        <blockquote class="twitter-tweet" data-lang="ja">
            <p lang="ja" dir="ltr">
                今日はPythonもくもく会に参加し<br><br>▶️自作PythonモジュールのPyPI初登録(下のQiita記事にも反映済！)<br>▶️緊張しつつも初LT<br><br>を終え、良い経験になりました😊<br><br>会場提供いただいたSQUEEZEさん、お菓子を差し入れいただいたshinyorkさん、ありがとうございました！<a
                    href="https://twitter.com/hashtag/mokupy?src=hash&amp;ref_src=twsrc%5Etfw">#mokupy</a><br> <a
                    href="https://t.co/uXCacZ0cVW">https://t.co/uXCacZ0cVW</a></p>&mdash; やんばる@Webエンジニア(仮) (@shonansurvivors) <a
                href="https://twitter.com/shonansurvivors/status/1099237258572361729?ref_src=twsrc%5Etfw">2019年2月23日</a>
        </blockquote>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

        <!-- 2 -->
        <blockquote class="twitter-tweet" data-lang="ja">
            <p lang="ja" dir="ltr">ランチはインド料理。チキンビリヤニ。世界三大炊き込みご飯の、一つって、今日初めてそんなのあるの知ったよー😆 <a
                    href="https://twitter.com/hashtag/mokupy?src=hash&amp;ref_src=twsrc%5Etfw">#mokupy</a> <a
                    href="https://t.co/DLnXnTLNsC">pic.twitter.com/DLnXnTLNsC</a></p>&mdash; みゃー(kor.miya) (@kor_miya) <a
                href="https://twitter.com/kor_miya/status/979956586876514304?ref_src=twsrc%5Etfw">2018年3月31日</a>
        </blockquote>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

        <!-- 3 -->
        <blockquote class="twitter-tweet" data-lang="ja">
            <p lang="ja" dir="ltr"><a href="https://twitter.com/hashtag/mokupy?src=hash&amp;ref_src=twsrc%5Etfw">#mokupy</a>
                成果発表始まりましたー！ <a href="https://t.co/x3oea3drjQ">pic.twitter.com/x3oea3drjQ</a></p>&mdash; checkpoint
            (@checkpoint) <a
                href="https://twitter.com/checkpoint/status/1064069736311349248?ref_src=twsrc%5Etfw">2018年11月18日</a>
        </blockquote>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

        <br>
        <br>
        <h3><span id="Pythonアルゴリズム勉強会"><a href="https://python-algo.connpass.com/" target="_new">Pythonアルゴリズム勉強会</a></span></h3>
        <br>
        <h4><b>勉強会名</b></h4>
        <p>・QuantX水曜Pythonシステムトレード勉強会<br>
        ・QuantX投資アルゴリズムワークショップ<br>
        他</p>
        <p>#もくもく会形式 #交流会形式 #発表会形式</p>
        <br>
        <h5><b>勉強会概要</b></h5>
        <p>システムトレードとは、プログラミングを使って自動化された投資取引のことで、Pythonを金融方面に活用してみたい方におすすめの勉強会です。基本的にはもくもく会形式の勉強会になりますが、初心者の方にも楽しんでもらえるよう、参加者同士交流しながら、アルゴリズム作りを楽しめるようにも配慮されています。懇親タイムもあります。ワークショップでは、数字をいじるだけで実際にアルゴリズムの世界を体験できます。</p>
        <br>
        <h5><b>勉強会の進行(ワークショップの場合)</b></h5>
        ・18:00 開場（もくもく作業するだけでも大丈夫です！）<br>
        ・19:00~ ワークショップ開始（もくもく会の方は参加されなくてOK）<br>
        ・19:45~ LT<br>
        ・20:00~ 懇親タイム（ビール有り）<br>
        <br>
        <h5><b>コミュニティの雰囲気が伝わるツイート</b></h5>
        <!-- 1 -->
        <blockquote class="twitter-tweet" data-lang="ja">
            <p lang="ja" dir="ltr">
                今日は目標だった加重移動平均をQuantXで作ってるアルゴリズムに実装できたし、talibも教えてもらって結構知識が身についた気がする✨<br>みんなが発表してるレベルまでまだまだ遠いけど頑張るぞ！💪<a
                    href="https://twitter.com/hashtag/quantx?src=hash&amp;ref_src=twsrc%5Etfw">#quantx</a></p>&mdash; Tetsuya
            Yamada (@tetymd) <a href="https://twitter.com/tetymd/status/1058652467640987648?ref_src=twsrc%5Etfw">2018年11月3日</a>
        </blockquote>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

        
        <!-- 2 -->
        <blockquote class="twitter-tweet" data-lang="ja">
            <p lang="ja" dir="ltr"><a href="https://twitter.com/hashtag/quantx?src=hash&amp;ref_src=twsrc%5Etfw">#quantx</a>
                どら焼きQRコード(ちゃんと読める)<a
                    href="https://twitter.com/hashtag/quantx%E5%85%A5%E9%96%80?src=hash&amp;ref_src=twsrc%5Etfw">#quantx入門</a>
                <a href="https://t.co/mebLLFLDTK">pic.twitter.com/mebLLFLDTK</a></p>&mdash; まーや(Maaya) (@maaya8585) <a
                href="https://twitter.com/maaya8585/status/1041504206081814528?ref_src=twsrc%5Etfw">2018年9月17日</a>
        </blockquote>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        
        <br>
        <br>
        <h3><span id="Start Python Club"><a href="https://startpython.connpass.com/" target="_new">Start Python Club</a></span></h3>
        <br>
        <h4><b>勉強会名</b></h4>
        <p>みんなのPython勉強会</p>
        <p>#発表会形式 #交流会形式</p>
        <br>
        <h5><b>勉強会概要</b></h5>
        <p>数名の方の講演が勉強会の中心で、講演内容と登壇者は毎回変わります。終了後にはビアバッシュ(懇親会)があり、LTのネタをお持ちであれば発表することもできます。開催規模は年々大きくなり、現在では毎回100名以上の方が参加されている大きな勉強会です。プログラマ、WEBエンジニアに限らず、初心者からマスターまで、レベルも分野もさまざまな人が一緒に、Pythonを中心としたプログラミングを仕事、研究、趣味など様々なシーンに生かす方法を学ぶ勉強会です。学生は参加費が無料です(学生証の提示が必要です)。</p>
        <br>
        <h5><b>勉強会の進行</b></h5>
        18:30 受付開始<br>
        19:00~ 勉強会<br>
        21:00~ 懇親会(ビアバッシュ)<br>
        22:00 終了<br>
        <br>
        <h5><b>コミュニティの雰囲気が伝わるツイート</b></h5>
        <!-- 1 -->
        <blockquote class="twitter-tweet" data-lang="ja">
            <p lang="ja" dir="ltr">かんぱーい！<a href="https://twitter.com/hashtag/stapy?src=hash&amp;ref_src=twsrc%5Etfw">#stapy</a>
                <a href="https://t.co/U80giHPpWC">pic.twitter.com/U80giHPpWC</a></p>&mdash; ◥◣◥◣あべんべん◢◤◢◤ (@abenben) <a
                href="https://twitter.com/abenben/status/1105833659850854400?ref_src=twsrc%5Etfw">2019年3月13日</a>
        </blockquote>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      
        <!-- 2 -->
        <blockquote class="twitter-tweet" data-lang="ja">
            <p lang="ja" dir="ltr"><a href="https://twitter.com/hashtag/stapy?src=hash&amp;ref_src=twsrc%5Etfw">#stapy</a>
                live配信、ここかな？ <br>みんなのPython勉強会#43(1080p_hfr) <a href="https://t.co/YrUdiVwbBV">https://t.co/YrUdiVwbBV</a> <a
                    href="https://twitter.com/YouTube?ref_src=twsrc%5Etfw">@YouTube</a>さんから</p>&mdash; bonohu (@bonohu) <a
                href="https://twitter.com/bonohu/status/1105771706835066880?ref_src=twsrc%5Etfw">2019年3月13日</a>
        </blockquote>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

        
        <!-- 3 -->
        <blockquote class="twitter-tweet" data-lang="ja">
            <p lang="ja" dir="ltr">きた！<a href="https://twitter.com/hashtag/stapy?src=hash&amp;ref_src=twsrc%5Etfw">#stapy</a> <a
                    href="https://twitter.com/hashtag/Python?src=hash&amp;ref_src=twsrc%5Etfw">#Python</a> <a
                    href="https://t.co/WO2J9m1peR">pic.twitter.com/WO2J9m1peR</a></p>&mdash; Ric. (@Cat_to_Love) <a
                href="https://twitter.com/Cat_to_Love/status/1105771377120796672?ref_src=twsrc%5Etfw">2019年3月13日</a>
        </blockquote>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

        <br>
        <br>
        <h3><span id="DjangoGirls Japan"><a href="https://djangogirls-org.connpass.com/" target="_new">DjangoGirls Japan</a></span>
        </h3>
        <br>
        <h4><b>勉強会名</b></h4>
        <p>PythonでWebアプリを作ろう</p>
        <p>#ハンズオン形式 #交流会形式</p>
        <br>
        <h5><b>勉強会概要</b></h5>
        <p>プログラミングの勉強会というと、女性にとってはハードルが高く感じられがちですが、こちらの勉強会は参加対象が女性のみで(コーチ陣には男性もおられます)、はじめてプログラミングに挑戦するという方でも参加できるので安心です。しかも参加費無料です。主催の「Django
        Girls」
        は女性を対象に、プログラミングの体験と学ぶ機会を提供している国際的なコミュニティです。勉強会当日は、コーチのサポートを受けながら、チュートリアルに沿って、実際にアプリの制作をおこないます。希望者のみ懇親会もあります(懇親会参加は実費、3000円程度)。
        </p>
        <br>
        <h5><b>勉強会の進行</b></h5>
        13:20 受付開始<br>
        13:30~ イントロダクション<br>
        13:45~ Webアプリを作ってみよう<br>
        17:30~ ラップアップ<br>
        18:00 終了・撤収<br>
        <br>
        <h5><b>コミュニティの雰囲気が伝わるツイート</b></h5>
        <!-- 1 -->
        <blockquote class="twitter-tweet" data-lang="ja">
            <p lang="en" dir="ltr">Getting started at the <a
                    href="https://twitter.com/hashtag/DjangoGirls?src=hash&amp;ref_src=twsrc%5Etfw">#DjangoGirls</a> Japan
                Workshop!!! <a href="https://t.co/2S4XOZTBSB">pic.twitter.com/2S4XOZTBSB</a></p>&mdash; Ian Lewis (@IanMLewis)
            <a href="https://twitter.com/IanMLewis/status/771881684660649985?ref_src=twsrc%5Etfw">2016年9月3日</a>
        </blockquote>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

        <!-- 2 -->
        <blockquote class="twitter-tweet" data-lang="ja">
            <p lang="ja" dir="ltr">Geek Women Japan 2016 に参加してるよ！Django girls Japanさんとのコラボ！じゃんけんゲームを作るよ！ <a
                    href="https://twitter.com/hashtag/gwj2016d?src=hash&amp;ref_src=twsrc%5Etfw">#gwj2016d</a> <a
                    href="https://twitter.com/hashtag/WWCode?src=hash&amp;ref_src=twsrc%5Etfw">#WWCode</a>… <a
                    href="https://t.co/WTDeK2D4AQ">https://t.co/WTDeK2D4AQ</a></p>&mdash; Himi Sato (@himisanta) <a
                href="https://twitter.com/himisanta/status/794097252755263489?ref_src=twsrc%5Etfw">2016年11月3日</a>
        </blockquote>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        
        <br>
        <br>
        <h3><span id="「PythonとKerasによるディープラーニング」輪読会"><a href="https://deep-learning.connpass.com/" target="_new">「PythonとKerasによるディープラーニング」輪読会</a></span>
        </h3>
        <br>
        <h4><b>勉強会名</b></h4>
        <p>「PythonとKerasによるディープラーニング」輪読会</p>
        <p>#読書会形式 #交流会形式</p>
        <br>
        <h5><b>勉強会概要</b></h5>
        <p>マイナビ出版の「PythonとKerasによるディープラーニング」を輪読し、ディープラーニングの理解を深めることを目的とする勉強会です。2019年2月末時点で6章末まですすんでいるので、途中からでもある程度理解できる知識を持っていないと、ついていくのが難しいかもしれません。しかしながら、主催者の方も初学者で、初心者や学生の方も歓迎されています。この本を読みかけたものの途中で積読してしまっている方には、再開の良いきっかけになるのではないでしょうか。500円で懇親会に参加できます(懇親会参加枠からの申し込み)。
        </p>
        <br>
        <h5><b>勉強会の進行</b></h5>
        19:05 開場<br>
        19:20~ 開始<br>
        <br>
        <h5><b>コミュニティの雰囲気が伝わるツイート</b></h5>
        <!-- 1 -->
        <blockquote class="twitter-tweet" data-lang="ja">
            <p lang="ja" dir="ltr">「PythonとKerasによるディープラーニング輪読会#7」6章LT資料1/2 <a
                    href="https://t.co/aUTLtbAWiK">https://t.co/aUTLtbAWiK</a>　何処に出していいか分からないのでとりあえずTwitterで･･･ｗ　前々回のLTの資料になります。参加者の皆様、ご参考までにどうぞ。
            </p>&mdash; K-neko@秋M3ありがとうございました (@pcneko5) <a
                href="https://twitter.com/pcneko5/status/1101723728252039168?ref_src=twsrc%5Etfw">2019年3月2日</a>
        </blockquote>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        
        <br>
        <br>
        {% include link-itstudy.html %}
        <br>
        {% include link-udemy_python.html %}
        <br>
        　　{% include share-bar.html %}
    </div>
</section>